.container {
    background: radial-gradient(26.62% 62.75% at 3.31% 0%, rgb(255 51 102 / 20%) 0%, rgb(255 51 102 / 0%) 100%), radial-gradient(42.71% 67.41% at 4.19% 59.19%, rgb(107 255 53 / 25%) 0%, rgb(107 255 53 / 0%) 100%), radial-gradient(30.51% 25.81% at 81.87% 17.58%, rgb(139 234 255 / 30%) 0%, rgb(139 234 255 / 0%) 100%), linear-gradient(176deg, #6B7BD6 25.05%, #2C3371 96.01%);
}

.header {
    font-family: PretendardMedium, sans-serif;
    font-size: 2.375rem;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    height: 10.625rem;
    padding: 0 3.75rem;
    color: #FFF;
}

.bookInformationBox {
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 55rem;
    height: 66.9375rem;
    margin: 0 auto;
    border-radius: 0.5rem 0.5rem 2.5rem 2.5rem;
    background: #FFF;
}

.bookDetailBox {
    width: 44rem;
    margin: 0 auto;
}

.bookTitle {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.25rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #9FA6B2;
    gap: 0.25rem;
}

.bookTitle div:first-child {
    font-family: PretendardSemiBold, sans-serif;
    font-size: 2.21875rem;
    font-style: normal;
    line-height: 130%;
    overflow: hidden;
    width: 44rem;
    white-space: nowrap;
    letter-spacing: -0.04438rem;
    text-overflow: ellipsis;
    color: #252F3F;
}

.bookTitle div:last-child {
    font-family: PretendardRegular, sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: -0.03125rem;
    color: #6B7280;
}

.bookTitle div:last-child span {
    display: inline-block;
    width: 0.0625rem;
    height: 1.25rem;
    margin: 0 0.75rem;
    background: #9FA6B2;
}

.bookMeta {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bookMeta div {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    line-height: 130%;
    overflow: hidden;
    width: 44rem;
    white-space: nowrap;
    letter-spacing: -0.03125rem;
    text-overflow: ellipsis;
    color: #374151;
}

.bookMeta div span {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    line-height: 130%;
    display: inline-block;
    width: 7rem;
    margin-right: 1rem;
    letter-spacing: -0.03125rem;
    color: #6B7280;
}

.recommendBox {
    display: flex;
    flex-direction: column;
    width: 55rem;
    height: 26.78125rem;
    margin: -3rem auto 0;
    border-radius: 0 0 2.5rem 2.5rem;
    background: rgb(255 255 255 / 70%);
    gap: 1rem;
}

.bookImage {
    position: relative;
    width: 17.5rem;
    height: 26.25rem;
    margin: 8rem auto 5rem;
}

.bookImage img {
    width: 100%;
    height: 100%;
    border: 1px solid #E5E7EB;
    border-radius: 0.25rem 1rem 1rem 0.25rem;
    background: #9FA6B2;
    box-shadow: 0 24px 48px 8px rgb(0 0 0 / 20%);
    object-fit: fill;
}

.status0, .status1 {
    font-size: 0;
    position: absolute;
    top: -1.72rem;
    right: 1.25rem;
    width: 5.625rem;
    height: 9.75rem;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.status0 {
    background-image: url("/resources/ict/typeD/ai/img/unavailable.png");
}

.status1 {
    background-image: url("/resources/ict/typeD/ai/img/available.png");
}

.recommendBox div {
    width: 44.25rem;
    margin: 0 auto;
}

.recommendBox div:first-child {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    line-height: 130%;
    margin-top: 6.25rem;
    letter-spacing: -0.03125rem;
    color: #2A6DCC;
}

.recommendBox div:last-child {
    font-family: PretendardRegular, sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    line-height: 160%;
    overflow-y: auto;
    height: 12.5rem;
    letter-spacing: -0.03125rem;
    color: #374151;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.recommendBox div:last-child::-webkit-scrollbar {
    display: none;
}