.container {
    background: radial-gradient(26.62% 62.75% at 3.31% 0%, rgb(255 51 102 / 20%) 0%, rgb(255 51 102 / 0%) 100%), radial-gradient(42.71% 67.41% at 4.19% 59.19%, rgb(107 255 53 / 25%) 0%, rgb(107 255 53 / 0%) 100%), radial-gradient(30.51% 25.81% at 81.87% 17.58%, rgb(139 234 255 / 30%) 0%, rgb(139 234 255 / 0%) 100%), linear-gradient(176deg, #6B7BD6 25.05%, #2C3371 96.01%);
}

.header {
    font-family: PretendardMedium, sans-serif;
    font-size: 2.375rem;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    height: 10.625rem;
    padding: 0 3.75rem;
    color: #FFF;
}

.intro {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2.22rem;
    gap: 3.38rem;
}

.title {
    display: flex;
    flex-direction: column;
    margin-top: 3.41rem;
    gap: 1.88rem;
}

.title div:first-child {
    font-family: PretendardSemiBold, sans-serif;
    font-size: 4.375rem;
    font-style: normal;
    line-height: 130%;
    letter-spacing: -0.10938rem;
    color: #FFF;
}

.title div:last-child {
    font-family: PretendardMedium, sans-serif;
    font-size: 2.25rem;
    font-style: normal;
    line-height: 150%;
    letter-spacing: -0.05625rem;
    color: #FFF;
}

.character {
    position: relative;
    width: 19.375rem;
    height: 19.70338rem;
    animation: float 4s ease-in-out infinite;
    background-image: url("/resources/ict/typeD/ai/img/character.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.shadow {
    position: absolute;
    right: 9rem;
    bottom: 0;
    width: 477px;
    height: 18px;
    transform: translateZ(0);
    animation: shadowScale 4s ease-in-out infinite;
    background: radial-gradient(
            ellipse at center,
            rgb(0 0 0 / 40%) 0%,
            rgb(0 0 0 / 20%) 50%,
            rgb(0 0 0 / 0%) 70%
    );
    filter: blur(2px);
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shadowScale {
    0% {
        width: 14.90625rem;
        height: 0.5625rem;
    }

    50% {
        width: 17.1875rem;
        height: 0.6875rem;
    }

    100% {
        width: 14.90625rem;
        height: 0.5625rem;
    }
}

.form {
    position: relative;
    display: block;
    width: 56.25rem;
    height: 8.75rem;
    margin: 10.19rem auto 6.93rem;
}

.form input {
    font-family: PretendardMedium, sans-serif;
    font-size: 2.375rem;
    font-style: normal;
    line-height: normal;
    overflow: hidden;
    width: -webkit-fill-available;
    height: 100%;
    padding: 0 9.38rem 0 3.75rem;
    letter-spacing: -0.05938rem;
    text-overflow: ellipsis;
    color: #191F28;
    border-radius: 6.25rem;
    background: #FFF;
}

.form input ::placeholder {
    color: #6B7684;
}

.form input:focus,
.form input:hover {
    border: none;
    outline: none;
}

.form button {
    position: absolute;
    top: 1.56rem;
    right: 3.12rem;
    display: inline-block;
    width: 5.625rem;
    height: 5.625rem;
    background-image: url("/resources/ict/typeD/ai/img/sendBlack.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.caption {
    font-family: PretendardMedium, sans-serif;
    font-size: 2.25rem;
    font-style: normal;
    line-height: 150%;
    height: 3.26869rem;
    margin-top: 6.93rem;
    margin-bottom: 2.55rem;
    margin-left: 7.5rem;
    padding-left: 5.63rem;
    letter-spacing: -0.05625rem;
    color: #FFF;
    background-image: url("/resources/ict/typeD/ai/img/bubble.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
}

.example {
    display: flex;
    overflow-x: auto;
    align-items: center;
    width: 67.5rem;
    margin: 0;
    padding-bottom: 2.5rem;
    padding-left: 0;
    gap: 0.88rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.example::-webkit-scrollbar {
    display: none;
}

.example li {
    display: flex;
    flex-direction: column;
    padding: 1.88rem;
    border-radius: 3.75rem;
    background: rgb(255 255 255 / 15%);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 6%), 2px 0 4px 0 rgb(255 255 255 / 25%) inset;
}

.example li div {
    font-family: PretendardRegular, sans-serif;
    font-size: 2.25rem;
    font-style: normal;
    line-height: 140%;
    align-self: stretch;
    width: 18.125rem;
    padding-top: 6.63rem;
    letter-spacing: -0.05625rem;
    color: #FFF;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 5rem;
}

.example li:first-child {
    margin-left: 5.62rem;
}

.example li:last-child {
    margin-right: 5.62rem;
}

.example li:nth-child(1) div {
    background-image: url("/resources/ict/typeD/ai/img/user1.png");
}

.example li:nth-child(2) div {
    background-image: url("/resources/ict/typeD/ai/img/user2.png");
}

.example li:nth-child(3) div {
    background-image: url("/resources/ict/typeD/ai/img/user3.png");
}

.example li:nth-child(4) div {
    background-image: url("/resources/ict/typeD/ai/img/user1.png");
}

.example li:nth-child(5) div {
    background-image: url("/resources/ict/typeD/ai/img/user2.png");
}

.example li:nth-child(6) div {
    background-image: url("/resources/ict/typeD/ai/img/user3.png");
}

.example li a {
    display: block;
    width: 3.25rem;
    height: 3.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    background-image: url("/resources/ict/typeD/ai/img/sendWhite.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.25rem;
}

.progress {
    position: relative;
    width: 56.25rem;
    height: 0.1875rem;
    margin: 0 auto;
    border-radius: 0.09375rem;
    background: rgb(255 255 255 / 20%);
}

.progress span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 0.3s ease;
    border-radius: 0.09375rem;
    background: rgb(255 255 255 / 50%);
}