.container {
    background: radial-gradient(94.06% 85.1% at 0% 100%, rgb(191 240 213 / 80%) 0%, rgb(191 240 213 / 0%) 83.31%), radial-gradient(37.52% 67.99% at 104.24% 73.15%, rgb(255 50 222 / 28%) 0%, rgb(255 50 222 / 0%) 83.31%), radial-gradient(47.21% 32.15% at 24.28% 24.57%, rgb(255 231 148 / 50%) 0%, rgb(255 231 148 / 0%) 100%), linear-gradient(162deg, #FEBCEB 0.61%, rgb(255 255 255 / 80%) 44.44%, #8ED6FF 90.99%);
}

.content {
    margin-top: 8.12rem;
    margin-bottom: 8.1rem;
    padding: 0 7.19rem;
    animation: fade-in-up 1s ease-out forwards;
    opacity: 0;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.searchIntro {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    padding: 0 1.25rem;
    gap: 1.13rem;
}

.searchIntro div:first-child {
    font-family: PretendardSemiBold, sans-serif;
    font-size: 3.75rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.09375rem;
    color: #191F28;
}

.searchIntro div:last-child {
    font-family: PretendardRegular, sans-serif;
    font-size: 2.125rem;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.10625rem;
    color: #4E5968;
}

.searchBox {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.88rem;
}

.searchBox .decoration {
    position: absolute;
    top: -33rem;
    right: -13rem;
    width: 50rem;
    height: 50rem;
}


.decoration {
    position: absolute;
    top: 0;
    right: 0;
}

.bookFilter {
    display: flex;
    align-items: center;
    padding: 0 0.625rem;
    gap: 0.62rem;
}

.bookFilter button {
    font-family: PretendardRegular, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    line-height: normal;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.25rem;
    height: 6.25rem;
    letter-spacing: -0.0375rem;
    text-transform: uppercase;
    color: #191F28;
    border: 0.0625rem solid #191F28;
    border-radius: 50%;
}

.bookFilter button.active {
    font-family: PretendardSemiBold, sans-serif !important;
    color: #FFF !important;
    background: #191F28 !important;
}

.searchForm {
    position: relative;
    margin-bottom: 11.25rem;
}

.searchForm label {
    width: -webkit-fill-available;
}

.searchForm input {
    font-family: PretendardRegular, sans-serif;
    font-size: 2.375rem;
    font-style: normal;
    line-height: 140%;
    width: -webkit-fill-available;
    height: 9.5rem;
    padding: 0 9rem 0 4.69rem;
    letter-spacing: -0.05938rem;
    color: #191F28;
    border: 0.375rem solid #8766FF;
    border-radius: 6.25rem;
    background: #FFF;
}

.searchForm input:placeholder {
    color: #6B7684;
}

.searchForm input:focus,
.searchForm input:hover {
    border: 0.375rem solid #8766FF;
    outline: none;
    background: #FFF;
}

.submit {
    position: absolute;
    top: 1.88rem;
    right: 1.56rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    background: #191F28;
}

.submit img {
    width: 3rem;
    height: 3rem;
}

.recommendIntro {
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.recommendIntro div:nth-child(3) {
    font-family: PretendardSemiBold, sans-serif;
    font-size: 3.75rem;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    text-align: right;
    letter-spacing: -0.09375rem;
    color: #191F28;
}

.recommendIntro div:nth-child(4) {
    font-family: PretendardRegular, sans-serif;
    font-size: 2.125rem;
    font-style: normal;
    line-height: 140%;
    margin-bottom: 2.5rem;
    text-align: right;
    letter-spacing: -0.10625rem;
    color: #4E5968;;
}

.recommendIntro a {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    line-height: 140%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3.75rem;
    padding-right: 4.97rem;
    text-align: center;
    letter-spacing: -0.04688rem;
    color: #191F28;
    background-image: url("/resources/ict/typeD/smart/img/index/go.svg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 3.75rem;
}

.decoration1 {
    position: absolute;
    top: 7rem;
    left: 0.3rem;
    width: 20rem;
    height: 20rem;
}

.decoration2 {
    position: absolute;
    top: -7.5rem;
    left: 0;
    width: 20rem;
    height: 20rem;
}