.container {
    background-image: url("/resources/ict/typeD/smart/img/librarian/bg.png");
}

.content {
    animation: fade-in-up 1s ease-out forwards;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.bookList {
    height: 91.1rem;
}

.wrapper {
    display: grid !important;
    padding: 1.94rem 5.63rem 4.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2.5rem 5.63rem;
}

.book img {
    width: 15rem;
    height: 21.5625rem;
    margin-bottom: 1.25rem;
    border-radius: 1.125rem;
    box-shadow: 0.625rem 1.25rem 2.5rem 0 rgb(0 0 0 / 16%);
    object-fit: fill;
}

.book div:nth-child(2) {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 140%;
    overflow: hidden;
    width: 14.5rem;
    margin: 0 0.25rem 0.38rem;
    white-space: nowrap;
    letter-spacing: -0.0375rem;
    text-overflow: ellipsis;
    color: #191F28;
}

.book div:nth-child(3) {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    line-height: 140%;
    overflow: hidden;
    width: 14.5rem;
    margin: 0 0.25rem;
    white-space: nowrap;
    letter-spacing: -0.0375rem;
    text-overflow: ellipsis;
    color: #6B7684;
}

.bookList .slick-dots {
    position: absolute;
    bottom: 0;
    display: flex !important;
    justify-content: center;
    width: 100%;
    gap: 1.25rem;
}

.bookList .slick-dots li {
    width: 0.75rem;
    height: 0.75rem;
    margin: 0;
}

.bookList .slick-dots li button {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    border: none;
    border-radius: 50%;
    background-color: #8B95A1;
}

.bookList .slick-dots li.slick-active button {
    background-color: #121212;
}

