.container {
    background-image: url("/resources/ict/typeD/account/img/loginBg.png");
}

.content {
    margin-bottom: 33.3rem;
    animation: fade-in-up 1s ease-out forwards;
    opacity: 0;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    font-family: PretendardSemiBold, sans-serif;
    font-size: 4.375rem;
    font-style: normal;
    line-height: 140%;
    padding-top: 28.12rem;
    margin-bottom: 1.25rem;
    text-align: center;
    letter-spacing: -0.0875rem;
    color: #FFF;
}

.description {
    font-family: PretendardMedium, sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    line-height: 140%;
    margin-bottom: 9.31rem;
    text-align: center;
    letter-spacing: -0.05rem;
    color: #FFF;
}

.decoration {
    position: relative;
    width: 45.27828rem;
    height: 15.47356rem;
    margin: 0 auto;
    border-right: 10px solid #EFF1F3;
    border-bottom: 10px solid #EFF1F3;
    border-left: 10px solid #EFF1F3;
    border-radius: 0 0 2.5rem 2.5rem;
}

.card {
    position: absolute;
    bottom: -9.31rem;
    left: 50%;
    width: 19.4375rem;
    height: 19.84375rem;
    transform: translateX(-50%);
    animation: card-move 4s ease-in-out infinite;
}

@keyframes card-move {
    0% {
        bottom: -29.31rem;
    }

    25% {
        bottom: -9.31rem;
    }

    75% {
        bottom: -9.31rem;
    }

    100% {
        bottom: -29.31rem;
    }
}

.signal1, .signal2, .signal3, .signal4 {
    animation: signal-wave 4s ease-in-out infinite;
    opacity: 0;
}

.signal1 {
    position: absolute;
    top: 5.15rem;
    left: 12.94rem;
    width: 1.72597rem;
    height: 6.40306rem;
    animation-delay: 0s;
}

.signal2 {
    position: absolute;
    top: 6.07rem;
    left: 15.13rem;
    width: 1.45638rem;
    height: 4.56525rem;
    animation-delay: 0.2s;
}

.signal3 {
    position: absolute;
    top: 5.15rem;
    right: 12.94rem;
    width: 1.72597rem;
    height: 6.40306rem;
    transform: scaleX(-1);
}

.signal4 {
    position: absolute;
    top: 6.07rem;
    right: 15.13rem;
    width: 1.45638rem;
    height: 4.56525rem;
    transform: scaleX(-1);
}

@keyframes signal-wave {
    0%, 20% {
        opacity: 0;
        transform: translateX(0) scaleX(-1);
    }

    25%, 75% {
        opacity: 1;
    }

    30% {
        transform: translateX(1rem) scaleX(-1);
    }

    70% {
        transform: translateX(-0.5rem) scaleX(-1);
    }

    75%, 100% {
        opacity: 0;
        transform: translateX(0) scaleX(-1);
    }
}

.signal1, .signal2 {
    animation: signal-wave-left 4s ease-in-out infinite;
}

@keyframes signal-wave-left {
    0%, 20% {
        opacity: 0;
        transform: translateX(0);
    }

    25%, 75% {
        opacity: 1;
    }

    30% {
        transform: translateX(-1rem);
    }

    70% {
        transform: translateX(0.5rem);
    }

    75%, 100% {
        opacity: 0;
        transform: translateX(0);
    }
}

.waveBottomArea {
    padding-top: 4.25rem;
}


.passwordWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.passwordWrapper input {
    width: 25%;
    border-radius: 0.375rem;
    height: 7rem;
    font-family: PretendardRegular, sans-serif;
    font-size: 3.625rem;
    font-style: normal;
    letter-spacing: -0.0325rem;
    color: #454545;
    border: 1px solid #262626 !important;
    text-align: center;
}

.passwordDescription {
    text-align: center;
    font-size: 2rem !important;
}