@charset "utf-8";

.bestBookSection {
    background: url("/resources/ict/typeD/info/img/bestBook-bg.png")  top left / cover no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bestBookSection .header {
    display: flex;
    padding: 3.34rem 3.75rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 0.5rem;
}

.bestBookSection .header .headerEn {
    color: #8B95A1;
    text-align: center;
    font-family: PretendardExtraBold, sans-serif;
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.bestBookSection .header .headerKo {
    color: #191F28;
    font-family: PretendardSemiBold, sans-serif;
    font-size: 1.875rem;
    line-height: normal;
}
.bestBookSection .content .bookSlide{
    height: 99rem;
}
.bestBookSection .content .bookSlide .bookGroup{
    width: 55rem !important;
    margin-right: 5rem;
    display: flex !important;
    flex-direction: column;
    row-gap: 3.75rem;
    padding: 3.12rem 6.75rem
}

.bestBookSection .content .bookSlide .bookItem {
    display: flex;
    align-items: center;
    gap: 3.75rem;
}

.bestBookSection .content .bookSlide .bookItem .bookRankImg {
    position: relative;
}

.bestBookSection .content .bookSlide .bookItem .bookRankImg .rankImg {
    width: 10.75rem;
    height: 15.5rem;
    border-radius: 0.75rem;
    box-shadow: 28.8px 28.8px 115.2px 11.52px rgba(0, 0, 0, 0.20);
    overflow: hidden;
}
.bestBookSection .content .bookSlide .bookItem .bookRankImg .rankImg > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bestBookSection .content .bookSlide .bookItem .bookRankImg .rankNum {
    display: flex;
    width: 4.375rem;
    height: 4.375rem;
    justify-content: center;
    align-items: center;
    border-radius: 9rem;
    background: #E71D36;
    color: #FFF;
    text-align: center;
    font-family: PretendardSemiBold, sans-serif;
    font-size: 1.5rem;
    line-height: normal;
    letter-spacing: -0.0375rem;
    position: absolute;
    top: 0;
    right: -2rem;
}

.bestBookSection .content .bookSlide .bookItem .bookInfo {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    width: 40rem;
}

.bestBookSection .content .bookSlide .bookItem .bookInfo .bookTitle {
    color: #191F28;
    font-family: PretendardSemiBold, sans-serif;
    font-size: 2.5rem;
    line-height: normal;
    letter-spacing: -0.0625rem;
    width: 39.375rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bestBookSection .content .bookSlide .bookItem .bookInfo .bookAuthor {
    color: #191F28;
    font-family: PretendardMedium, sans-serif;
    font-size: 1.875rem;
    line-height: normal;
    letter-spacing: -0.04688rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bestBookSection .content .bookSlide .bookItem .bookInfo .bookPubYear {
    display: flex;
    gap: 0.25rem;
}
.bestBookSection .content .bookSlide .bookItem .bookInfo .bookPubYear > div{
    color: #4E5968;
    font-family: PretendardMedium, sans-serif;
    font-size: 1.875rem;
    line-height: normal;
    letter-spacing: -0.04688rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bestBookSection .content .bookSlide .bookItem .bookInfo .bookPubYear .publisher {
}

.bestBookSection .content .bookSlide .bookItem .bookInfo .bookPubYear .separator {
}

.bestBookSection .content .bookSlide .bookItem .bookInfo .bookPubYear .pubYear {
}

.bestBookSection .content .bookSlide .bookItem .bookInfo .bookMeta {
}

.bestBookSection .content .bookSlide .bookItem .bookInfo .bookMeta .mataInfo {
    display: flex;
    gap: 0.625rem;
}

.bestBookSection .content .bookSlide .bookItem .bookInfo .bookMeta .mataInfo .metaLabel {
    color: #6B7684;
    font-family: PretendardRegular, sans-serif;
    width: 5.625rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bestBookSection .content .bookSlide .bookItem .bookInfo .bookMeta .mataInfo .metaValue {
    color: #191F28;
    font-family: PretendardMedium, sans-serif;
    font-size: 1.5rem;
    line-height: normal;
    letter-spacing: -0.0375rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bookSlide .slick-dots{
    bottom: -3.8rem;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 0.88rem;
}
.bookSlide .slick-dots li{
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100%;
    background-color: #8B95A1;
}
.bookSlide .slick-dots li.slick-active{
    background-color: #fff;
}

.bestBookCopyright {
    color: #ADB5BD;
    text-align: center;
    font-family: PretendardMedium, sans-serif;
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: 2.5rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 1080px) {
    .bestBookSection .content .bookSlide .bookItem .bookRankImg .rankImg{
        box-shadow: 14.4px 14.4px 37.6px 5.76px rgba(0, 0, 0, 0.20);
    }

}

.lbEmpty{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.lbEmpty > img{
    width: 30rem;
    height: 30rem;
}
.lbEmpty > div{
    font-family: 'PretendardMedium', sans-serif;
    font-size: 2.5rem;
    line-height: 140%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #191F28;
}