.libFacilityContainer {
    width: 100%;
    height: 100vh;
    background:
            linear-gradient(172deg, #1E87B4 5.1%, #175473 42.9%) top/100% 51.6% no-repeat,
            #F5F0EE;
    background-repeat: no-repeat;


}
.libFacilityContainer .libFacilityWrapper{
    position: relative;
}
.libFacilityContainer .libFacilityWrapper .libFacilityMap {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50.1rem;
    box-sizing: border-box;
}

.libFacilityContainer .libFacilityWrapper .libFacilityMap .libFacilityMapLabel {
    position: fixed;
    top: 12.81rem;
    right: 5.63rem;
    color: #FFF;
    font-family: Pretendard-Medium, sans-serif;
    font-size: 10.625rem;
    line-height: normal;
}

.libFacilityContainer .libFacilityWrapper .libFacilityMap > img {
    width: 64rem;
    height: fit-content;
    aspect-ratio: 1.423;
}

.libFacilityContainer .libFacilityWrapper .libFacilityContent {
    margin-top: 3.88rem;
}

.libFacilityContainer .libFacilityTabMenu {
    display: flex;
    width: 67.5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.libFacilityContainer .libFacilityTabMenu .libFacilityTabItem {
    color: #8B95A1;
    padding: 1.25rem 3.75rem;
    font-family: Pretendard-SemiBold, sans-serif;
    font-size: 2.5rem;
    line-height: normal;
    transition: 0.5s;
}
.libFacilityContainer .libFacilityTabMenu .libFacilityTabItem.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15.625rem;
    background: #191F28;
    color: #FFF;
    font-family: Pretendard-SemiBold, sans-serif;
    font-size: 2.5rem;
    line-height: normal;
}

.libFacilityContainer .libFacilityWrapper .libFacilityContent .libFacilitySlide {
    width: 56rem;
    margin: 3.13rem auto 0;
    transition: 0.3s;
}

.libFacilityContainer .libFacilityWrapper .libFacilityContent .libFacilitySlide .libFacilitySlideItem {
    width: 56rem !important;
    margin-right: 5rem;
}

.libFacilityContainer .libFacilityWrapper .libFacilityContent .libFacilitySlide .libFacilitySlideItem .libPlaceTitle {
    color: #191F28;
    font-family: Pretendard-Bold, sans-serif;
    font-size: 3.125rem;
    line-height: normal;
    letter-spacing: -0.07813rem;
}

.libFacilityContainer .libFacilityWrapper .libFacilityContent .libFacilitySlide .libFacilitySlideItem .libPlaceWrapper {
}

.libFacilityContainer .libFacilityWrapper .libFacilityContent .libFacilitySlide .libFacilitySlideItem .libPlaceWrapper ul.libPlaceList {
    margin-top: 0.62rem;
    display: flex;
    padding: 1.25rem 0.875rem;
    flex-direction: column;
    gap: 0.625rem;
}

.libFacilityContainer .libFacilityWrapper .libFacilityContent .libFacilitySlide .libFacilitySlideItem .libPlaceWrapper ul.libPlaceList li {
    color: #191F28;
    font-family: Pretendard-Medium, sans-serif;
    font-size: 1.875rem;
    line-height: 140%; /* 2.625rem */
    letter-spacing: -0.04688rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.libFacilityContainer .libFacilityWrapper .libFacilityContent .libFacilitySlide .libFacilitySlideItem .libPlaceWrapper ul.libPlaceList li::before{
    content: "";
    background: url("/resources/ict/typeE/info/img/info/check_ico.svg") top left no-repeat;
    background-size: 2.125rem;
    width: 2.125rem;
    height: 2.125rem;
    margin: 0.25rem 0;
    display: inline-block;
}

.libFacilityContainer .libFacilityWrapper .libFacilityContent .libFacilitySlide .libFacilitySlideItem .libFacilityDesc {
    display: flex;
    width: 100%;
    padding: 1.875rem 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.5rem;
    background-color: #E5DDD8;
    color: #191F28;
    font-family: Pretendard-Medium, sans-serif;
    font-size: 1.625rem;
    line-height: 150%; /* 2.4375rem */
    margin-top: 2rem;
}

.libFacilitySlideDot {
    position: fixed;
    left: 50%;
    bottom: 8.62rem;
    transform: translateX(-50%);

}
.libFacilitySlideDot ul{
    position: static;
    display: inline-flex;
    gap: 0.875rem;
}

.libFacilitySlideDot ul li {
    width: 0.75rem !important;
    height: 0.75rem !important;
    background-color: #fff !important;
    border-radius: 100%;
}

.libFacilitySlideDot button {
    width: 0.75rem !important;
    height: 0.75rem !important;
    background-color: #fff !important;
    border-radius: 100%;

}

.libFacilitySlideDot .slick-active button{
    background-color: #ADB5BD !important;
}


.libFacilityMapImage {
    opacity: 0;
    transition: opacity .4s ease;
}
.libFacilityMapImage.is-show {
    opacity: 1;
}