.libNewContainer{
    background: url('/resources/ict/typeE/info/img/newBook/lib_new_bg.png') top left / cover no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.newBookMainSlide {
}

.newBookMainSlide .mainSlideItemWrapper {

}


.newBookMainSlide .mainSlideItemWrapper .mainSlideItem{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 3.13rem;
    margin: 0 auto;
}
.newBookMainSlide .mainSlideItemWrapper .mainSlideImageWrapper {
    width: 28.75rem !important;
    height: 44rem;
    border-radius: 1.25rem;
    box-shadow: 20px 30px 70px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;


}
.slick-initialized .slick-slide{
    justify-content: center;
}

.newBookMainSlide .mainSlideItemWrapper .mainSlideImageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: fill
}

.newBookMainSlide .mainSlideItemWrapper .mainSlideInfo {
}

.newBookMainSlide .mainSlideItemWrapper .mainSlideInfo .bookTitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: #191F28;
    text-align: center;
    text-overflow: ellipsis;
    font-family: Pretendard-SemiBold, sans-serif;
    font-size: 3.125rem;
    line-height: normal;
    letter-spacing: -0.07813rem;
    text-align: center;
    width: 52rem;
}

.newBookMainSlide .mainSlideItemWrapper .mainSlideInfo .bookMetaList {
    border-radius: 1rem;
    background: #E5DDD8;
    padding: 1.34rem 3.75rem;
    margin-top: 3.13rem
}
.newBookMainSlide .mainSlideItemWrapper .mainSlideInfo .bookMetaList ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.newBookMainSlide .mainSlideItemWrapper .mainSlideInfo .bookMetaList ul li{
    display: flex;
    gap: 1.19rem;
}

.newBookMainSlide .mainSlideItemWrapper .mainSlideInfo .bookMetaList .metaLabel {
    color: #6B7684;
    font-family: Pretendard-Medium, sans-serif;
    font-size: 1.5rem;
    line-height: 160%; /* 2.4rem */
}

.newBookMainSlide .mainSlideItemWrapper .mainSlideInfo .bookMetaList .metaValue {
    color: #191F28;
    font-family: Pretendard-Medium, sans-serif;
    font-size: 1.5rem;
    line-height: 160%; /* 2.4rem */
}

.newBookMainSlide .mainSlideItemWrapper .mainSlideInfo .bookDescription {
    width: 56.25rem;
    height: 10.3125rem;
    overflow: hidden;
    color: #191F28;
    text-overflow: ellipsis;
    font-family: Pretendard-Regular, sans-serif;
    font-size: 1.625rem;
    line-height: 160%; /* 2.6rem */
    letter-spacing: -0.04063rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    word-break: break-word;
    margin-top: 3.13rem;
}

.subSlide {
    display: flex;
    align-items: flex-start;
    gap: 3.91rem;
}

.subSlide .subSlideImageWrapper {
    display: flex;
    gap: 3.9rem;
    width: 57rem;
    margin: 5rem auto 0;
}

.subSlide .subSlideImageWrapper .subSlideItem{
    width: 7.75rem !important;
    height: 11.125rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 10px 10px 25px 4px rgba(0, 0, 0, 0.20);
    margin: 0 1.95rem 2rem;
}

@media (max-width: 1080px) {
    .subSlide .subSlideImageWrapper .subSlideItem{
        box-shadow: 5px 5px 12.5px 2px rgba(0, 0, 0, 0.20);
    }
}

.subSlide .subSlideImageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


.lib_notice_nodata_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 40rem);
}

.lib_notice_nodata_wrapper img {
    width: 25rem;
    height: 25rem;
}

.lib_notice_nodata_wrapper div {
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 2.5rem;
    line-height: 130%;
    text-align: center;
    letter-spacing: -2px;
    color: #ADB5BD;
}
