
.libNoticeContainer {
    width: 100%;
    height: 100vh;
    background:
            linear-gradient(151deg, #6559AC 5.42%, #31427E 81.96%) top/100% 57.29% no-repeat,
            #F5F0EE;
    background-repeat: no-repeat;
}

.libNotice {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3.13rem;
    row-gap: 6.75rem;
}

.libNotice .libNoticeMain {
    width: 53.125rem !important;
    height: 73.75rem;
    border-radius: 1.875rem;
    overflow: hidden;
    box-shadow: 30px 40px 60px 0 rgba(0, 0, 0, 0.20);

}


.libNotice .libNoticeMain .libNoticeSlide {
    width: 53.125rem !important;
    height: 73.75rem;

}

.libNotice .libNoticeMain .libNoticeSlide > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.libNotice .libNoticeSub {
    width: 58rem;
    display: flex;
}

.libNotice .libNoticeSub .libNoticeSlide {
    width: 8.75rem !important;
    height: 12.5rem;
    border-radius: 0.625rem;
    overflow: hidden;
    box-shadow: 15px 20px 40px 0 rgba(0, 0, 0, 0.20);
    margin: 0 3.12rem 2rem 0;
}
.libNotice .libNoticeSub .slick-current .libNoticeSlide,
.libNoticeSlide.active {
    border: 3px solid #000;
}

.libNotice .libNoticeSub .libNoticeSlide > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.lib_notice_nodata_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 40rem);
}

.lib_notice_nodata_wrapper img {
    width: 25rem;
    height: 25rem;
}

.lib_notice_nodata_wrapper div {
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 2.5rem;
    line-height: 130%;
    text-align: center;
    letter-spacing: -2px;
    color: #ADB5BD;
}

@media (max-width: 1080px) {
    .libNotice .libNoticeMain {
        box-shadow: 15px 20px 30px 0 rgba(0, 0, 0, 0.20);
    }
    .libNotice .libNoticeSub .libNoticeSlide {
        box-shadow: 7px 10px 20px 0 rgba(0, 0, 0, 0.20);
    }
    .libNotice .libNoticeSub .slick-current .libNoticeSlide{
        border: 1.5px solid #000;
    }
}