.container {
    background-image: url("/resources/ict/typeD/star/img/star_bg.png");
}

.headerKoEnVert div:first-child{
    color: #D4D6D7;
}
.headerKoEnVert div:last-child{
    color: #FFF;
}

#zodiacContainer{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center
}

#zodiacContainer .slick-list{
    width: 48rem;
}
.zodiac-slider{
    width: 48rem;
    margin-right: 10rem;
}

.slick-prev:before,
.slick-next:before {
    content: '';  /* 기본 화살표 제거 */
}

.slick-arrow > img{
    width: 5rem;
}
.slick-prev {
    left: 1.88rem;
}
.slick-next{
    right: 1.88rem;
}

.cntArrows > button{
    width: auto;
    height: auto;
    top: 65rem;
}

.constel{
    width: 35.625rem;
    height: 35.625rem;
    margin: 0 auto;
}

.constel > img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: float 6s ease-in infinite;
}

@keyframes float {
    0%, 100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translateY(-25px);
    }
    75% {
        transform: translateY(-10px);
    }
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes draw {
    to { stroke-dashoffset: 0; }
}

.constellation-path {
    stroke: #fff;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    filter: url(#glow);
    animation: draw 4s ease-in-out forwards;
}

.constellation-star {
    fill: #fff;
}

.starInfo {
    display: flex;
    padding: 3rem 3.75rem;
    width: 40.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    border-radius: 1.875rem;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(40px);
}

.starInfo .starBasic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.starInfo .starBasic .starNames {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.starInfo .starBasic .starNames .starNameEn {
    color: #D4D6D7;
    text-align: center;
    font-family: PretendardExtraBold, sans-serif;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.starInfo .starBasic .starNames .starNameKr {
    color: #FFF;
    text-align: center;
    font-family: PretendardMedium, sans-serif;
    font-size: 2.75rem;
    line-height: 100%;
    letter-spacing: -0.055rem;
}

.starInfo .starBasic .starPeriod {
    display: flex;
    padding: 0.5rem 1.375rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 312.46875rem;
    background: rgba(255, 255, 255, 0.30);
    color: #FFF;
    font-family: PretendardRegular, sans-serif;
    font-size: 1.75rem;
    line-height: 140%;
    text-transform: capitalize;
}

.starInfo .starDesc {
    display: flex;
    width: 40.5rem;
    padding: 2rem 0 1.25rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-top: 1px solid #FFF;
}

.starInfo .starDesc .starHeadline {
    color: #FFF;
    text-align: center;
    font-family: PretendardSemiBold, sans-serif;
    font-size: 2.125rem;
    line-height: 140%;
    letter-spacing: -0.0425rem;
}

.starInfo .starDesc .starStory {
    color: #FFF;
    text-align: center;
    font-family: PretendardRegular, sans-serif;
    font-size: 1.75rem;
    line-height: 140%;
    letter-spacing: -0.035rem;
}

.cntPager {
    border-radius: 312.46875rem;
    background: rgba(255, 255, 255, 0.20);
    display: flex;
    padding: 0.5rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    width: fit-content;
    margin: 2.5rem auto 0;
}

.cntPager .pgCurrent {
    color: #FFF;
    font-family: PretendardBold, sans-serif;
    font-size: 1.875rem;
    line-height: normal;
    text-transform: capitalize;
}

.cntPager .pgDivider {
    color: #FFF;
    font-family: PretendardRegular, sans-serif;
    font-size: 1.875rem;
    line-height: normal;
    text-transform: capitalize;
}

.cntPager .pgTotal {
    color: #FFF;
    font-family: PretendardRegular, sans-serif;
    font-size: 1.875rem;
    line-height: normal;
    text-transform: capitalize;
}


.shootingStar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.shootingStar span {
    position: absolute;
    border-radius: 50%;
    background: white;
    opacity: 0.1;
    animation: twinkle 1s infinite ease-in-out;
}

.shootingStar span:nth-child(1) {
    left: 12.6%;
    top: 6.2%;
    animation-delay: 0s;
    animation-duration: 2s;
    width: 0.3rem;
    height: 0.3rem;
}

.shootingStar span:nth-child(2) {
    left: 75.5%;
    top: 33.7%;
    animation-delay: 0.8s;
    animation-duration: 3s;
    width: 0.5rem;
    height: 0.5rem;
}

.shootingStar span:nth-child(3) {
    left: 8%;
    top: 35.3%;
    animation-delay: 1.5s;
    animation-duration: 2.2s;
    width: 0.3rem;
    height: 0.3rem;
}

.shootingStar span:nth-child(4) {
    left: 84.5%;
    top: 7%;
    animation-delay: 1s;
    animation-duration: 2s;
    width: 0.3rem;
    height: 0.3rem;
}

@keyframes twinkle {
    0% {
        opacity: 0.1;
        transform: scale(1);
    }
    50% {
        opacity: 0.9;
        transform: scale(1.1);
    }
    100% {
        opacity: 0.1;
        transform: scale(1);
    }
}
