.navigation, .homeBtn, .userState, .goToAI {
    display: none !important;
}

.container {
    background-image: url("/resources/ict/typeD/star/img/hub/bg.png");
}

.content {
    position: relative;
    padding-top: 7rem;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade-in-up 1s ease-out forwards;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.shootingStar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.shootingStar span {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: white;
    opacity: 0.2;
    animation: twinkle 2.5s infinite ease-in-out;
}

.shootingStar span:nth-child(1) {
    left: 15.5%;
    top: 42%;
    animation-delay: 0s;
    animation-duration: 2s;
}

.shootingStar span:nth-child(2) {
    left: 15%;
    top: 31.7%;
    animation-delay: 0.8s;
    animation-duration: 3s;
}

.shootingStar span:nth-child(3) {
    left: 87.5%;
    top: 18%;
    animation-delay: 1.5s;
    animation-duration: 2.2s;
}

.shootingStar span:nth-child(4) {
    left: 72.5%;
    top: 7.2%;
    animation-delay: 1s;
    animation-duration: 2s;
}

@keyframes twinkle {
    0% {
        opacity: 0.2;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.4);
        box-shadow: 0 0 6px rgba(255,255,255,0.9);
    }
    100% {
        opacity: 0.2;
        transform: scale(1);
    }
}

.item {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 53rem;
}

.item div:nth-child(1) {
    color: #FFF;
    padding-top: 8.56rem;
    text-align: center;
    font-family: PretendardSemiBold, sans-serif;
    font-size: 3.75rem;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.09375rem;
    margin-bottom: 1rem;
    background-size: 7.5rem;
    background-repeat: no-repeat;
    background-position: center top;
}

.item div:nth-child(2) {
    color: #FFF;
    text-align: center;
    font-family: PretendardRegular, sans-serif;
    font-size: 2.125rem;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.10625rem;
    margin-bottom: 4rem;
}

.item a:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    border: 2px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: PretendardBold, sans-serif;
    font-size: 2rem;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.04rem;
    width: 20.3125rem;
    height: 5.8125rem;
}

.star div:nth-child(1) {
    background-image: url("/resources/ict/typeD/star/img/hub/star.png");
}

.smart div:nth-child(1) {
    background-image: url("/resources/ict/typeD/star/img/hub/smart.png");
}

.waveBottomArea{
    display: none;
}