.container {
    background-image: url("/resources/ict/typeD/star/img/main/bg.png");
}

.headerKoEnVert div:last-child {
    color: #fff !important;
}

.content {
    position: relative;
    padding-top: 13.38rem;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade-in-up 1s ease-out forwards;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.shootingStar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.shootingStar span {
    position: absolute;
    border-radius: 50%;
    background: white;
    opacity: 0.1;
    animation: twinkle 1s infinite ease-in-out;
}

.shootingStar span:nth-child(1) {
    left: 12.6%;
    top: 6.2%;
    animation-delay: 0s;
    animation-duration: 2s;
    width: 0.5rem;
    height: 0.5rem;
}

.shootingStar span:nth-child(2) {
    left: 39.5%;
    top: 3.7%;
    animation-delay: 0.8s;
    animation-duration: 3s;
    width: 0.5rem;
    height: 0.5rem;
}

.shootingStar span:nth-child(3) {
    left: 71%;
    top: 2.3%;
    animation-delay: 1.5s;
    animation-duration: 2.2s;
    width: 0.5rem;
    height: 0.5rem;
}

.shootingStar span:nth-child(4) {
    left: 16.5%;
    top: 17%;
    animation-delay: 1s;
    animation-duration: 2s;
    width: 0.5rem;
    height: 0.5rem;
}

.shootingStar span:nth-child(5) {
    left: 14%;
    top: 7%;
    animation-delay: 0.6s;
    animation-duration: 1.8s;
    width: 5rem;
    height: 5rem;
    background: url(/resources/ict/typeD/star/img/light.png) no-repeat center;
    background-size: 5rem;
}

.shootingStar span:nth-child(6) {
    left: -1.0%;
    top: 9.6%;
    animation-delay: 1.9s;
    animation-duration: 2.6s;
    width: 9rem;
    height: 9rem;
    background: url(/resources/ict/typeD/star/img/light.png) no-repeat center;
    background-size: 9rem;
}

.shootingStar span:nth-child(7) {
    left: 86.2%;
    top: 13.8%;
    animation-delay: 1.2s;
    animation-duration: 2.1s;
    width: 9rem;
    height: 9rem;
    background: url(/resources/ict/typeD/star/img/light.png) no-repeat center;
    background-size: 9rem;
}

.shootingStar span:nth-child(8) {
    left: 81.5%;
    top: -2.2%;
    animation-delay: 1.2s;
    animation-duration: 2.1s;
    width: 9rem;
    height: 9rem;
    background: url(/resources/ict/typeD/star/img/light.png) no-repeat center;
    background-size: 9rem;
}

.shootingStar span:nth-child(9) {
    left: 53%;
    top: 0;
    animation-delay: 0.6s;
    animation-duration: 1.8s;
    width: 5rem;
    height: 5rem;
    background: url(/resources/ict/typeD/star/img/light.png) no-repeat center;
    background-size: 5rem;
}

@keyframes twinkle {
    0% {
        opacity: 0.1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.1);
    }
    100% {
        opacity: 0.1;
        transform: scale(1);
    }
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 6.25rem;
}

.title div:first-child {
    color: #FFF;
    text-align: center;
    font-family: PretendardMedium, sans-serif;
    font-size: 3.75rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.075rem;
}

.title div:last-child {
    color: #FFF;
    text-align: center;
    font-family: PretendardRegular, sans-serif;
    font-size: 2.125rem;
    font-style: normal;
    line-height: 130%;
    letter-spacing: -0.0425rem;
}

.col {
    width: 57.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.btn {
    display: flex;
    flex-direction: column;
    width: 57.5rem;
    padding: 4rem 1.84375rem 4rem 2.9375rem;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(40px);
}

.btn div:first-child {
    color: #FFF;
    font-family: PretendardMedium, sans-serif;
    font-size: 2.875rem;
    font-style: normal;
    line-height: 130%;
    letter-spacing: -0.0575rem;
}

.btn div:last-child {
    color: #FFF;
    font-family: PretendardRegular, sans-serif;
    font-size: 2.125rem;
    font-style: normal;
    line-height: 130%;
    letter-spacing: -0.0425rem;
}

.col > a {
    width: -webkit-fill-available;
    gap: 1rem;
    background-image: url("/resources/ict/typeD/star/img/main/arrow.svg");
    background-repeat: no-repeat;
    background-size: 3.75rem;
    background-position: center right 1.84rem;
}

.row {
    display: flex;
    width: -webkit-fill-available;
    gap: 2.5rem;
}

.row a {
    width: 50%;
    gap: 4rem;
    background-image: url("/resources/ict/typeD/star/img/main/arrow.svg");
    background-repeat: no-repeat;
    background-size: 3.75rem;
    background-position: top 4rem right 1.84rem;
}