.waveBottomArea {
    position: fixed;
    bottom: 13rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    height: 5.31rem;
}

.back {
    position: absolute;
    top: 56.25rem;
    left: -0.3rem;
    width: 4rem;
    height: 7.5rem;
    background: url("/resources/ict/typeD/common/img/wave/Back.png") no-repeat center center;
    background-size: contain;
}

.waveBottomArea .userState {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    margin-right: 1.25rem;
    margin-bottom: 0.94rem;
    padding: 0.5625rem 1.875rem 0.5625rem 0.5625rem;
    border-radius: 3.125rem;
    background: #FFF;
    gap: 0.75rem;
}

.waveBottomArea .userState img {
    width: 3.25rem;
    height: 3.25rem;
}

.waveBottomArea .userState a {
    font-family: PretendardSemiBold, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    align-items: center;
    text-align: right;
    letter-spacing: -0.03rem;
    color: #121212;
}

.waveBottomArea .userState a span {
    font-family: PretendardSemiBold, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    line-height: normal;
    margin-right: 0.5rem;
    letter-spacing: -0.03rem;
    color: #191F28;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.waveBottomArea .homeBtn {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    margin-left: 1.25rem;
    margin-bottom: 0.94rem;
    padding: 0.5625rem 1.875rem 0.5625rem 0.5625rem;
    border-radius: 3.125rem;
    background: #FFF;
    gap: 0.75rem;
}

.waveBottomArea .homeBtn img {
    width: 3.25rem;
    height: 3.25rem;
}

.waveBottomArea .homeBtn a {
    font-family: PretendardSemiBold, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    align-items: center;
    text-align: right;
    letter-spacing: -0.03rem;
    color: #121212;
    display: flex;
    gap: 0.75rem;
}

.waveBottomArea .homeBtn a span {
    font-family: PretendardSemiBold, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    line-height: normal;
    margin-right: 0.5rem;
    letter-spacing: -0.03rem;
    color: #191F28;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.logout {
    width: 2.75rem;
    height: 2.75rem;
    border: none;
    background: url("/resources/ict/typeD/common/img/wave/logout.svg") no-repeat center center;
    background-size: cover;
}

.waveBottomArea .goToAI {
    position: absolute;
    z-index: 1;
    bottom: -3.5rem;
    left: 50%;
    width: 6.625rem;
    height: 6.625rem;
    transform: translateX(-50%);
    background: url("/resources/ict/typeD/common/img/wave/ai.svg") no-repeat center center;
    background-size: cover;
}

.waveBottomArea .navigation {
    position: fixed;
    bottom: 4.21875rem;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8.75rem;
    background-image: url("/resources/ict/typeD/common/img/wave/wave.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.waveBottomArea .navigation::after{
    position: absolute;
    bottom: -4.7rem;
    left: 0;
    width: 100%;
    height: 6rem;
    content: "";
    background-color: #fff;
}

.waveBottomArea .navigation a {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.375rem;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 12.8rem;
    padding-top: 4.48rem;
    padding-bottom: 1rem;
    text-align: center;
    color: #8B95A1;
    background-repeat: no-repeat;
    background-position: center top 0.73rem;
    background-size: 3rem;
    gap: 0.75rem;

}

.waveBottomArea .navigation a.active {
    font-family: PretendardSemiBold, sans-serif;
    position: relative;
    z-index: 1;
    color: #3B68FF;
}

.waveBottomArea .navigation a.active::after {
    position: absolute;
    z-index: -1;
    bottom: 1rem;
    left: 50%;
    width: 100%;
    height: 30%;
    content: "";
    transform: translateX(-50%);
    border-radius: 50%;
    background: rgb(59 104 255 / 30%);
    filter: blur(1.5625rem);
}

.waveBottomArea .navigation #index {
    background-image: url("/resources/ict/typeD/star/img/nav/Home.svg");
}

.waveBottomArea .navigation #starBook {
    background-image: url("/resources/ict/typeD/star/img/nav/Book.svg");
}

.waveBottomArea .navigation #guide {
    background-image: url("/resources/ict/typeD/star/img/nav/Star.svg");
}

.waveBottomArea .navigation #myStar {
    background-image: url("/resources/ict/typeD/star/img/nav/User.svg");
}

.waveBottomArea .navigation #index.active {
    background-image: url("/resources/ict/typeD/star/img/nav/Home_on.svg");
}

.waveBottomArea .navigation #starBook.active {
    background-image: url("/resources/ict/typeD/star/img/nav/Book_on.svg");
}

.waveBottomArea .navigation #guide.active {
    background-image: url("/resources/ict/typeD/star/img/nav/Star_on.svg");
}

.waveBottomArea .navigation #myStar.active {
    background-image: url("/resources/ict/typeD/star/img/nav/User_on.svg");
}


.waveBottomArea .scrollDown {
    font-family: PretendardRegular, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    line-height: normal;
    position: relative;
    display: flex;
    align-items: center;
    flex: 1.25;
    justify-content: center;
    padding-right: 2.75rem;
    cursor: pointer;
    text-align: center;
    letter-spacing: -0.03rem;
    color: #FFF;
    background: url("/resources/ict/typeD/common/img/wave/scrollDown.png") no-repeat center right 2.75rem / 2.75rem;
}

.bfController {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 4.21875rem;
    background: #191F28;
}

.reset {
    font-family: PretendardRegular, sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    flex: 0.8;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    letter-spacing: -0.0275rem;
    color: #FFF;
    background: #333D4B;
}

.windowController {
    font-family: PretendardRegular, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    line-height: normal;
    position: relative;
    display: flex;
    align-items: center;
    flex: 2;
    justify-content: center;
    letter-spacing: -0.03rem;
    color: #FFF;
    gap: 1.12rem;
}

.windowController .zoomOut,
.windowController .zoom {
    width: 2.75rem;
    height: 2.75rem;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.windowController .zoomOut {
    background-image: url("/resources/ict/typeD/common/img/wave/zoomOut.png");
}

.windowController .zoom {
    background-image: url("/resources/ict/typeD/common/img/wave/zoom.png");
}


.magnifier {
    font-family: PretendardRegular, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    padding-right: 2.75rem;
    cursor: pointer;
    user-select: none;
    text-align: center;
    letter-spacing: -0.03rem;
    color: #FFF;
    background: url("/resources/ict/typeD/common/img/wave/magnifier.png") no-repeat center right 2.75rem / 2.75rem;
}

.magnifier-glass {
    position: fixed;
    z-index: 999;
    display: none;
    overflow: hidden;
    width: 30rem;
    height: 30rem;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border: 5px solid #333;
    border-radius: 100%;
    background-color: #fff;
}

.magnifier-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top left;
    pointer-events: none;
}


.scrollDown::after, .windowController::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 0.125rem;
    height: 1.5625rem;
    content: '';
    transform: translateY(-50%);
    border-radius: 0.0625rem;
    background: #6B7684;
}

