.container {
    background-image: url("/resources/ict/typeD/star/img/star_bg.png");
}

.headerKoEnVert div:last-child {
    color: #fff !important;
}

.content {
    animation: fade-in-up 1s ease-out forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.shootingStar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.shootingStar span {
    position: absolute;
    border-radius: 50%;
    background: white;
    opacity: 0.1;
    animation: twinkle 1s infinite ease-in-out;
}

.shootingStar span:nth-child(1) {
    left: 12.6%;
    top: 6.2%;
    animation-delay: 0s;
    animation-duration: 2s;
    width: 0.5rem;
    height: 0.5rem;
}

.shootingStar span:nth-child(2) {
    left: 75.5%;
    top: 33.7%;
    animation-delay: 0.8s;
    animation-duration: 3s;
    width: 0.65rem;
    height: 0.65rem;
}

.shootingStar span:nth-child(3) {
    left: 8%;
    top: 35.3%;
    animation-delay: 1.5s;
    animation-duration: 2.2s;
    width: 0.5rem;
    height: 0.5rem;
}

.shootingStar span:nth-child(4) {
    left: 84.5%;
    top: 7%;
    animation-delay: 1s;
    animation-duration: 2s;
    width: 0.5rem;
    height: 0.5rem;
}

.zodiacSign {
    position: relative;
    width: 35.625rem;
    height: 35.625rem;
}

@keyframes twinkle {
    0% {
        opacity: 0.1;
        transform: scale(1);
    }
    50% {
        opacity: 0.9;
        transform: scale(1.1);
    }
    100% {
        opacity: 0.1;
        transform: scale(1);
    }
}

.info {
    border-radius: 1.875rem;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(40px);
    max-width: 48rem;
    padding: 3rem 3.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.en {
    color: #D4D6D7;
    text-align: center;
    font-family: PretendardExtraBold, sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.ko {
    color: #FFF;
    text-align: center;
    font-family: PretendardMedium, sans-serif;
    font-size: 2.75rem;
    font-style: normal;
    line-height: 100%;
    letter-spacing: -0.055rem;
    margin-bottom: 1.5rem;
}

.myBirth {
    width: fit-content;
    display: flex;
    padding: 0.5rem 1.375rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 312.46875rem;
    border: 2px solid #FFF;
    color: #FFF;
    font-family: PretendardRegular, sans-serif;
    font-size: 1.75rem;
    font-style: normal;
    line-height: 140%;
    margin-bottom: 2.5rem;
}

.myBirth span {
    font-family: PretendardBold, sans-serif;
}

.caption {
    padding-top: 2rem;
    width: -webkit-fill-available;
    border-top: 1px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: PretendardSemiBold, sans-serif;
    font-size: 2.125rem;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.0425rem;
    margin-bottom: 1.5rem;
}

.description {
    color: #FFF;
    text-align: center;
    font-family: PretendardRegular, sans-serif;
    font-size: 1.75rem;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.035rem;
}

.action {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    justify-content: center;
}

.action a:first-child {
    width: 22.75rem;
    height: 6.25rem;
    border-radius: 3124.96875rem;
    border: 4px solid rgba(255, 255, 255, 0.60);
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(40px);
    color: #FFF;
    text-align: center;
    font-family: PretendardSemiBold, sans-serif;
    font-size: 1.9375rem;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action a:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22.75rem;
    height: 6.25rem;
    border-radius: 3124.96875rem;
    background: #FFF;
    color: #242424;
    text-align: center;
    font-family: PretendardSemiBold, sans-serif;
    font-size: 1.9375rem;
    font-style: normal;
    line-height: normal;
}