@charset "utf-8";

/* -------- 프리텐다드 -------- */
@font-face {
    font-family:'Pretendard-ExtraLight';
    font-style:normal;
    font-weight:100;
    src: local('Pretendard-ExtraLight'), local('Pretendard-ExtraLight'),
    url(/resources/ict/smartBook/fonts/Pretendard-ExtraLight.woff) format('woff'),
    url(/resources/ict/smartBook/fonts/Pretendard-ExtraLight.otf) format('opentype');
}
@font-face {
    font-family:'Pretendard-Light';
    font-style:normal;
    font-weight:200;
    src: local('Pretendard-Light'), local('Pretendard-Light'),
    url(/resources/ict/smartBook/fonts/Pretendard-Light.woff) format('woff'),
    url(/resources/ict/smartBook/fonts/Pretendard-Light.otf) format('opentype');
}

@font-face {
    font-family:'Pretendard-Thin';
    font-style:normal;
    font-weight:300;
    src: local('Pretendard-Thin'), local('Pretendard-Thin'),
    url(/resources/ict/smartBook/fonts/Pretendard-Thin.woff) format('woff'),
    url(/resources/ict/smartBook/fonts/Pretendard-Thin.otf) format('opentype');
}

@font-face {
    font-family:'Pretendard-Regular';
    font-style:normal;
    font-weight:400;
    src: local('Pretendard-Regular'), local('Pretendard-Regular'),
    url(/resources/ict/smartBook/fonts/Pretendard-Regular.woff) format('woff'),
    url(/resources/ict/smartBook/fonts/Pretendard-Regular.otf) format('opentype');
}
@font-face {
    font-family:'Pretendard-Medium';
    font-style: normal;
    font-weight:500;
    src: local('Pretendard-Medium'), local('Pretendard-Medium'),
    url(/resources/ict/smartBook/fonts/Pretendard-Medium.woff) format('woff'),
    url(/resources/ict/smartBook/fonts/Pretendard-Medium.otf) format('opentype');
}
@font-face {
    font-family:'Pretendard-SemiBold';
    font-style:normal;
    font-weight:600;
    src:local('Pretendard-SemiBold'), local('Pretendard-SemiBold'),
    url(/resources/ict/smartBook/fonts/Pretendard-SemiBold.woff) format('woff'),
    url(/resources/ict/smartBook/fonts/Pretendard-SemiBold.otf) format('opentype');
}
@font-face {
    font-family:'Pretendard-Bold';
    font-style:normal;
    font-weight:700;
    src:local('Pretendard-Bold'), local('Pretendard-Bold'),
    url(/resources/ict/smartBook/fonts/Pretendard-Bold.woff) format('woff'),
    url(/resources/ict/smartBook/fonts/Pretendard-Bold.otf) format('opentype');
}
@font-face {
    font-family:'Pretendard-ExtraBold';
    font-style:normal;
    font-weight:800;
    src:local('Pretendard-ExtraBold'), local('Pretendard-ExtraBold'),
    url(/resources/ict/smartBook/fonts/Pretendard-ExtraBold.woff) format('woff'),
    url(/resources/ict/smartBook/fonts/Pretendard-ExtraBold.otf) format('opentype');
}

@font-face {
    font-family:'Pretendard-Black';
    font-style:normal;
    font-weight:900;
    src:local('Pretendard-Black'), local('Pretendard-Black'),
    url(/resources/ict/smartBook/fonts/Pretendard-Black.woff) format('woff'),
    url(/resources/ict/smartBook/fonts/Pretendard-Black.otf) format('opentype');
}

/* -------- 센추리고딕 -------- */

@font-face {
    font-family:'Century Gothic';
    font-style:normal;
    font-weight:100;
    src: local('GOTHIC'), local('GOTHIC'),
    url(/resources/ict/smartBook/fonts/GOTHIC.ttf) format('truetype');
}
@font-face {
    font-family:'Century Gothic';
    font-style:normal;
    font-weight:800;
    src: local('GOTHICB'), local('GOTHICB'),
     url(/resources/ict/smartBook/fonts/GOTHICB.ttf) format('truetype');
}

/* -------- 서울한강체 -------- */
@font-face {
    font-family:'SeoulHangang-Light';
    font-style:normal;
    font-weight:200;
    src: local('SeoulHangangL'), local('SeoulHangangL'),
    url(/resources/ict/smartBook/fonts/SeoulHangangL.ttf) format('truetype');
}
@font-face {
    font-family:'SeoulHangang-Regular';
    font-style:normal;
    font-weight:400;
    src: local('SeoulHangangM'), local('SeoulHangangM'),
    url(/resources/ict/smartBook/fonts/SeoulHangangM.ttf) format('truetype');
}
@font-face {
    font-family:'SeoulHangang-Bold';
    font-style:normal;
    font-weight:700;
    src:local('SeoulHangangB'), local('SeoulHangangB'),
    url(/resources/ict/smartBook/fonts/SeoulHangangB.ttf) format('truetype');
}
@font-face {
    font-family:'SeoulHangang-ExtraBold';
    font-style:normal;
    font-weight:800;
    src:local('SeoulHangangEB'), local('SeoulHangangEB'),
    url(/resources/ict/smartBook/fonts/SeoulHangangEB.ttf) format('truetype');
}

/* -------- 서울한강장체 -------- */
@font-face {
    font-family:'SeoulHangangCm-Light';
    font-style:normal;
    font-weight:200;
    src: local('SeoulHangangCmL'), local('SeoulHangangCmL'),
    url(/resources/ict/smartBook/fonts/SeoulHangangCmL.ttf) format('truetype');
}
@font-face {
    font-family:'SeoulHangangCm-Regular';
    font-style:normal;
    font-weight:400;
    src: local('SeoulHangangCmM'), local('SeoulHangangCmM'),
    url(/resources/ict/smartBook/fonts/SeoulHangangCmM.ttf) format('truetype');
}
@font-face {
    font-family:'SeoulHangangCm-Bold';
    font-style:normal;
    font-weight:700;
    src:local('SeoulHangangCmB'), local('SeoulHangangCmB'),
    url(/resources/ict/smartBook/fonts/SeoulHangangCmB.ttf) format('truetype');
}
@font-face {
    font-family:'SeoulHangangCm-ExtraBold';
    font-style:normal;
    font-weight:800;
    src:local('SeoulHangangEB'), local('SeoulHangangEB'),
    url(/resources/ict/smartBook/fonts/SeoulHangangEB.ttf) format('truetype');
}
@font-face {
    font-family:'SeoulHangangCm-Black';
    font-style:normal;
    font-weight:900;
    src:local('SeoulHangangCmBL'), local('SeoulHangangCmBL'),
    url(/resources/ict/smartBook/fonts/SeoulHangangEB.ttf) format('truetype');
}