.booksearch_info_wrap {
	background: url(../../img/type_b/book_information/bg_hori.png) no-repeat center;
	height: 2160px;
	position: relative;
	overflow: hidden;
	background-size: cover;
}

.user {
	position: absolute;
	left: -18%;
}

.booksearch_info_wrap .title_search {
	color: #191f28;
	text-align: left;
	font-family: 'Pretendard-SemiBold', sans-serif;
	font-size: 92px;
	font-weight: 600;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	
}

.detail_wrap .bookinfo_thumbnails {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 50px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	position: absolute !important;
	left: calc(50% - -1515px);
	top: 120px;
	height: 2040px;
	overflow-y: hidden;
	z-index: 999999;
	padding: 60px 40px 0 10px;
}

.detail_wrap .bookinfo_thumbnails .slick-list {
	overflow: visible;
}

.detail_wrap .thum_info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: block;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	position: relative;
	width: 234px !important;
	/* height: 420px !important; */
}

.detail_wrap .thum_img_wrap {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 236px;
	height: 330px;
	position: static;
	margin-bottom: 30px;
}

.swiper-slide-thumb-active .thum_img {
	border-style: solid;
	border-color: #242424;
	border-width: 2px;
}

.detail_wrap .thum_img {
	border-width: 2px;
	width: 234px;
	height: 332px;
	position: relative;
	left: calc(50% - 117.39px);
	/*top: calc(50% - 180px);*/
	-webkit-box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 20px 20px 40px 0px rgb(0 0 0 / 18%);
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 16px;
}

.detail_wrap .info_inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 6px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 236px;
	position: relative;
}

.detail_wrap .book_infotit {
	padding: 10px 8px 0 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
	/* gap: 6px; */
}

.detail_wrap .book_infotit_in {
	color: #191f28;
	text-align: left;
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 28px;
	line-height: 140%;
	letter-spacing: -0.025em;
	font-weight: 500;
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 235px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
}

.detail_wrap .bookinfo_write {
	padding: 0px 7.83px 0px 7.83px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
}

.detail_wrap .bookinfo_write_in {
	color: #4e5968;
	text-align: left;
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 26px;
	letter-spacing: -0.025em;
	font-weight: 400;
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 234.78px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
}

.detail_wrap .bookinfo_main .slick-list {
	height: 1400px;
}

.detail_wrap .bookinfo_main {
	width: 2886px;
	height: 1400px;
	position: absolute !important;
	left: 180px;
	top: 400px;
	overflow: hidden;
}

.detail_wrap .bookinfo_main .slick-slide {
	height: 1400px;
}

.detail_wrap .info_bookwrap {
	background: #ffffff;
	border-radius: 60px;
	width: 2886px;
	height: 1400px;
	left: 0px;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.detail_wrap .bookwrap_frame {
	width: 2886px;
	height: 1400px;
	position: relative;
}

.detail_wrap .bookimg_ellipse {
	background: #eeeeee;
	border-radius: 50%;
	width: 800px;
	height: 800px;
	position: absolute;
	left: 160px;
	top: calc(50% - 400px);
}

.detail_wrap .book_mainimg {
	width: 620px;
	height: 950px;
	position: absolute;
	left: calc(50% - 1193px);
	top: calc(50% - 475px);
	-webkit-box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.25);
	-o-object-fit: cover;
	object-fit: cover;
}

.detail_wrap .bookinfo_main .loan_circle_o {
	background: #029951;
	border-radius: 50%;
	width: 180px;
	height: 180px;
	position: absolute;
	left: 730px;
	top: 184px;
	color: #ffffff;
	text-align: center;
	font-family: 'Pretendard-SemiBold', sans-serif;
	font-size: 40px;
	font-weight: 600;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index: 99999;
	line-height: normal;
}

.detail_wrap .left_info {
	width: 800px;
}

.detail_wrap .right_info {
	height: auto;
}

.detail_wrap .bookinfo_name {
	color: #191f28;
	text-align: left;
	font-family: 'Pretendard-SemiBold', sans-serif;
	font-size: 72px;
	font-weight: 600;
	position: absolute;
	left: 1120px;
	top: 180px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: block;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 1470px;
	letter-spacing: -0.02em;
}

.detail_wrap .bookinfo_sort {
	color: #6b7684;
	text-align: left;
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 44px;
	font-weight: 500;
	position: absolute;
	left: 1120px;
	top: 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.detail_wrap .detain_bookinfo {
	display: inline-block;
	left: 1120px;
	top: 410px;
	position: relative;
	width: 100%;
	width: 1560px;
}

.detail_wrap .detain_bookinfo_inner {
	float: left;
}

.detail_wrap .info_div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.detail_wrap .info_div span {
	text-align: left;
	font-family: 'Pretendard-SemiBold', sans-serif;
	font-size: 40px;
	line-height: 180%;
	font-weight: 600;
	width: 200px;
}

.detail_wrap .info_div p {
	color: #6b7684;
	text-align: left;
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 40px;
	line-height: 180%;
	font-weight: 400;
}

.detail_wrap .book_mapping {
	position: unset;
	left: 2146px;
	top: 614px;
	float: right;
	margin: 170px auto 0;
	background: #242424;
	border-radius: 450px;
	padding: 36px 120px 36px 120px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 0px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	height: 120px;
	overflow: hidden;
	width: 480px;
	color: #ffffff;
	text-align: left;
	font-family: 'Pretendard-SemiBold', sans-serif;
	font-size: 40px;
	justify-content: center;
}

.detail_wrap .book_map {
	background: #242424;
	border-radius: 500px;
	padding: 36px 120px 36px 120px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 0px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 120px;
	overflow: hidden;
	width: 480px;
}

.detail_wrap .book_map_txt {
	color: #ffffff;
	text-align: left;
	font-family: 'Pretendard-SemiBold', sans-serif;
	font-size: 40px;
	font-weight: 600;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.detail_wrap .book_story {
	color: #191f28;
	text-align: left;
	font-family: 'Pretendard-Bold', sans-serif;
	font-size: 44px;
	line-height: 180%;
	font-weight: 700;
	position: absolute;
	left: 1120px;
	top: 814px;
}

.detail_wrap .book_story_wrap {
	color: #191f28;
	text-align: left;
	font-family: 'Pretendard-Regular', sans-serif !important;
	font-size: 44px;
	line-height: 160%;
	font-weight: 400;
	position: absolute;
	left: 1120px;
	top: 880px;
	width: 1560px;
	height: 347px;
	text-overflow: ellipsis;
	/* overflow-y: scroll; */
	overflow-x: hidden;
	padding-right: 25px;
	text-align: justify;
}

.detail_wrap .book_story_wrap p {
	font-family: 'Pretendard-Regular', sans-serif !important;
	font-size: 44px !important;
}

.detail_wrap .book_story_wrap p span {
	font-family: 'Pretendard-Regular', sans-serif !important;
	font-size: 44px !important;
}

.detail_wrap .bookinfo_thumbnails .slick-slider {
	position: absolute;
}

.popup-overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 9999999;
}

.book_over .popup-content {
	background-color: white;
	border-radius: 60px;
	text-align: center;
	width: 1800px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 1470px;
}

.book_over .popup-wrapper {
	padding: 108px 90px 54px 90px;
}

.book_over .popup-title {
	margin-bottom: 39px;
	text-align: center;
	font-size: 72px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: #242424;
}

.book_over .map {
	width: 1620px;
	height: 980px;
}

.book_over .action_bt {
	width: 100%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-top: 1px solid #a2a2a2;
	height: 200px;
}

.book_over .action_bt::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 2px;
	height: 70px;
	background-color: #a2a2a2;
}

.book_over .close_bt,
.book_over .print_bt {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 20px;
	width: 50%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer;
	padding: 60px;
}

.book_over .close_bt div,
.book_over .print_bt div {
	font-size: 60px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: #242424;
}

.book_over .close_bt img {
	width: 80px;
	height: 80px;
}

.book_over .print_bt img {
	width: 80px;
	height: 80px;
}

.detail_wrap .scroll {
	overflow-x: hidden;
}

#bookSearchResultTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* width: 650px; */
	max-width: 1300px;
	line-height: 36px;
}

.scroll::-webkit-scrollbar-track {
	background-color: #d9d9d9;
}

@media (max-width: 1920px) {
	.booksearch_info_wrap {
		background: url(../../img/type_b/book_information/bg_hori.png) no-repeat center;
		height: 1080px;
		position: relative;
		overflow: hidden;
		background-size: cover;
	}

	.user {
		position: absolute;
		left: -18%;
	}

	.booksearch_info_wrap .title_search {
		font-size: 46px;
	}

	.detail_wrap .bookinfo_thumbnails {
		gap: 25px;
		left: calc(50% - -757px);
		top: 90px;
		height: 1020px;
		padding: 29px 26px 0 5px;
	}

	.detail_wrap .thum_info {
		width: 117px !important;
		/* height: 210px !important; */
	}

	.detail_wrap .thum_img_wrap {
		width: 118px;
		height: 165px;
		margin-bottom: 15px;
	}

	.detail_wrap .slick-current .thum_img {
		border-width: 1px;
	}

	.detail_wrap .thum_img {
		border-width: 1px;
		width: 117px;
		height: 166px;
		left: calc(50% - 59px);
		/*top: calc(50% - 90px);*/
		-webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 10px 10px 20px 0px rgb(0 0 0 / 18%);
		border-radius: 8px;
	}

	.detail_wrap .info_inner {
		gap: 3px;
		width: 118px;
	}

	.detail_wrap .book_infotit {
		padding: 5px 4px 0 4px;
	}

	.detail_wrap .book_infotit_in {
		font-size: 14px;
		width: 118px;
	}

	.detail_wrap .bookinfo_write {
		padding: 0px 4px 0px 4px;
	}

	.detail_wrap .bookinfo_write_in {
		font-size: 13px;
		width: 119px;
	}

	.detail_wrap .bookinfo_main .slick-list {
		height: 700px;
	}

	.detail_wrap .bookinfo_main {
		width: 1443px;
		height: 700px;
		left: 90px;
		top: 200px;
	}

	.detail_wrap .bookinfo_main .slick-slide {
		height: 700px;
	}

	.detail_wrap .info_bookwrap {
		border-radius: 30px;
		width: 1443px;
		height: 700px;
	}

	.detail_wrap .bookwrap_frame {
		width: 1443px;
		height: 700px;
	}

	.detail_wrap .bookimg_ellipse {
		width: 400px;
		height: 400px;
		left: 80px;
		top: calc(50% - 200px);
	}

	.detail_wrap .book_mainimg {
		width: 310px;
		height: 475px;
		left: calc(50% - 597px);
		top: calc(50% - 238px);
		-webkit-box-shadow: 5px 10px 25px 0px rgba(0, 0, 0, 0.25);
		box-shadow: 5px 10px 25px 0px rgba(0, 0, 0, 0.25);
	}

	.detail_wrap .bookinfo_main .loan_circle_o {
		width: 90px;
		height: 90px;
		left: 365px;
		top: 92px;
		font-size: 20px;
	}

	.detail_wrap .left_info {
		width: 200px;
	}

	.detail_wrap .bookinfo_name {
		font-size: 36px;
		left: 560px;
		top: 90px;
		width: 735px;
	}

	.detail_wrap .bookinfo_sort {
		font-size: 22px;
		left: 560px;
		top: 150px;
	}

	.detail_wrap .detain_bookinfo {
		left: 560px;
		top: 205px;
		width: 780px;
	}

	.detail_wrap .info_div span {
		font-size: 20px;
		width: 100px;
	}

	.detail_wrap .info_div p {
		font-size: 20px;
	}

	.detail_wrap .book_mapping {
		left: 1073px;
		top: 307px;
		margin: 85px auto 0;
		border-radius: 425px;
		padding: 18px 60px;
		height: 60px;
		width: 240px;
		font-size: 20px;
	}

	.detail_wrap .book_map {
		border-radius: 250px;
		padding: 18px 60px;
		height: 60px;
		width: 240px;
	}

	.detail_wrap .book_map_txt {
		font-size: 20px;
	}

	.detail_wrap .book_story {
		font-size: 22px;
		left: 560px;
		top: 407px;
	}

	.detail_wrap .book_story_wrap {
		font-size: 22px;
		left: 560px;
		top: 440px;
		width: 780px;
		height: 174px;
		padding-right: 13px;
	}

	.detail_wrap .book_story_wrap p {
		font-size: 22px !important;
	}

	.detail_wrap .book_story_wrap p span {
		font-size: 22px !important;
	}

	.book_over .popup-content {
		border-radius: 30px;
		width: 900px;
		height: 735px;
	}

	.book_over .popup-wrapper {
		padding: 54px 45px 27px 45px;
	}

	.book_over .action_btn{height:100px;}

	.book_over .popup-title {
		margin-bottom: 20px;
		font-size: 36px;
	}

	.book_over .map {
		width: 810px;
		height: 490px;
	}

	.book_over .action_bt::after {
		height: 35px;
	}

	.book_over .close_bt,
	.book_over .print_bt {
		gap: 10px;
		width: 50%;
		padding: 30px;
	}

	.book_over .close_bt div,
	.book_over .print_bt div {
		font-size: 30px;
		font-weight: 500;
	}

	#bookSearchResultTitle {
		max-width: 650px;
	}

	.book_over .close_bt img {
		width: 40px;
		height: 40x;
	}

	.book_over .print_bt img {
		width: 40px;
		height: 40px;
	}
}