.lib_best_container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/resources/ict/typeE/info/img/bestBook/lib_best_bg.png) no-repeat top center;
    background-size: cover;
    padding-bottom: 15rem;
}

.lib_best_nodata_wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67.5rem;
    height: 28.875rem;
    transform: translate(-50%, -50%);
}

.lib_best_nodata_wrapper img {
    width: 25rem;
    height: 25rem;
}

.lib_best_nodata_wrapper div {
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    font-style: normal;
    line-height: 1.3;
    position: absolute;
    bottom: 3.125rem;
    text-align: center;
    letter-spacing: -0.0625rem;
    color: #191F28;
}

.lib_best_swiper {
    position: relative;
    width: 67.5rem;
    height: 91.6875rem;
}

.lib_best_swiper .swiper {
    width: 67.5rem;
    height: 91.6875rem;
    padding-top: 2.8125rem !important;
    padding-left: 5.625rem !important;
}

.lib_best_swiper .swiper-slide {
    display: flex !important;
    flex-wrap: wrap;
}

.lib_best_swiper .swiper-item {
    position: relative;
}

.lib_best_ranking {
    font-family: "Pretendard-SemiBold", sans-serif;
    font-size: 1.625rem;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: -2.5rem;
    left: 5.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    padding: 1.53125rem 1.28125rem 1.53125rem 1.3125rem;
    text-align: center;
    white-space: nowrap;
    letter-spacing: -0.040625rem;
    text-transform: capitalize;
    color: #FFF;
    border-radius: 50%;
    background: #000000;
}

.lib_best_swiper .swiper-slide:first-child .swiper-item:first-child .lib_best_ranking,
.lib_best_swiper .swiper-slide:first-child .swiper-item:nth-child(2) .lib_best_ranking,
.lib_best_swiper .swiper-slide:last-child .swiper-item:first-child .lib_best_ranking,
.lib_best_swiper .swiper-slide:last-child .swiper-item:nth-child(2) .lib_best_ranking {
    font-size: 1.875rem;
    top: -2.8125rem;
    left: 9.6875rem;
    width: 5.625rem;
    height: 5.625rem;
    padding: 1.6875rem 1.59375rem;
    letter-spacing: -0.046875rem;
}

.lib_best_swiper .swiper-slide:first-child .swiper-item:first-child,
.lib_best_swiper .swiper-slide:first-child .swiper-item:nth-child(2),
.lib_best_swiper .swiper-slide:last-child .swiper-item:first-child,
.lib_best_swiper .swiper-slide:last-child .swiper-item:nth-child(2) {
    width: 25rem;
}

.lib_best_swiper .swiper-slide:first-child .swiper-item:first-child .lib_best_title,
.lib_best_swiper .swiper-slide:first-child .swiper-item:nth-child(2) .lib_best_title,
.lib_best_swiper .swiper-slide:last-child .swiper-item:first-child .lib_best_title,
.lib_best_swiper .swiper-slide:last-child .swiper-item:nth-child(2) .lib_best_title {
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 1.875rem;
    font-weight: 500;
    overflow: hidden;
    width: 25rem;
    margin-top: 1.625rem;
    margin-bottom: 0.625rem;
    margin-left: 0.25rem;
    white-space: nowrap;
    letter-spacing: -0.0375rem;
    text-overflow: ellipsis;
    color: #191F28;
}

.lib_best_swiper .swiper-slide:first-child .swiper-item:first-child .lib_best_writer,
.lib_best_swiper .swiper-slide:first-child .swiper-item:nth-child(2) .lib_best_writer,
.lib_best_swiper .swiper-slide:last-child .swiper-item:first-child .lib_best_writer,
.lib_best_swiper .swiper-slide:last-child .swiper-item:nth-child(2) .lib_best_writer {
    font-family: "Pretendard-Regular", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    overflow: hidden;
    width: 25rem;
    margin-bottom: 0.375rem;
    margin-left: 0.25rem;
    white-space: nowrap;
    letter-spacing: -0.03rem;
    text-overflow: ellipsis;
    color: #4E5968;
}

.lib_best_swiper .swiper-slide:first-child .swiper-item:first-child,
.lib_best_swiper .swiper-slide:last-child .swiper-item:first-child {
    margin-right: 4.6875rem;
}

.lib_best_swiper .swiper-slide:first-child .swiper-item:nth-child(3),
.lib_best_swiper .swiper-slide:first-child .swiper-item:nth-child(4),
.lib_best_swiper .swiper-slide:last-child .swiper-item:nth-child(3),
.lib_best_swiper .swiper-slide:last-child .swiper-item:nth-child(4) {
    margin-right: 3.21875rem;
}

.lib_best_swiper .swiper-slide:first-child .swiper-item:first-child img,
.lib_best_swiper .swiper-slide:first-child .swiper-item:nth-child(2) img,
.lib_best_swiper .swiper-slide:last-child .swiper-item:first-child img,
.lib_best_swiper .swiper-slide:last-child .swiper-item:nth-child(2) img {
    width: 25rem;
    height: 36.96875rem;
    border-radius: 1.25rem;
    box-shadow: 1.25rem 1.25rem 2.5rem 0 rgba(0,0,0,0.2);
    object-fit: cover;
}

.lib_best_swiper .swiper-slide .swiper-item {
    width: 16rem;
    padding-bottom: 0.78125rem;
}

.lib_best_swiper .swiper-slide .swiper-item img {
    width: 16rem;
    height: 23.65625rem;
    border-radius: 0.9375rem;
    box-shadow: 1.25rem 1.25rem 2.5rem 0 rgba(0,0,0,0.2);
    object-fit: cover;
}

.lib_best_title {
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: 1.875rem;
    font-weight: 500;
    overflow: hidden;
    width: 16rem;
    margin-top: 1.5rem;
    margin-bottom: 0.625rem;
    margin-left: 0.25rem;
    white-space: nowrap;
    letter-spacing: -0.0375rem;
    text-overflow: ellipsis;
    color: #191F28;
}

.lib_best_writer {
    font-family: "Pretendard-Regular", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    overflow: hidden;
    width: 16rem;
    margin-bottom: 0.375rem;
    margin-left: 0.25rem;
    white-space: nowrap;
    letter-spacing: -0.03rem;
    text-overflow: ellipsis;
    color: #4E5968;
}

.lib_best_year {
    font-family: "Pretendard-Regular", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 0.25rem;
