.popup-overlay{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
}
.popup-content{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 56.26rem !important;
    padding: 3.75rem 0;
    transform: translate(-50%, -50%);
    border-radius: 3.125rem !important;
    background: #fff;
}
.popup-content .popupDetailsMeta{}
.popup-content .popupDetailsMeta .metaInfoWrap{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1.87rem;
    padding: 2.19rem 3.75rem 0;
}
.popup-content .popupDetailsMeta .metaInfoWrap .metaBasic{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.popupDetailsMeta .metaBasic > div:nth-child(1),
.popupDetailsMeta .metaBasic > div:nth-child(2),
.popupDetailsMeta .metaBasic > div:nth-child(3),
.popupDetailsMeta .metaBasic > div:nth-child(4),
.popupDetailsMeta .metaBasic > div:nth-child(5),
.popupDetailsMeta .metaBasic > div:nth-child(6) {
    font-family: Pretendard-Medium, sans-serif;
    font-size: 1.625rem;
    line-height: 140%;
    display: flex;
    color: #6b7684;
    gap: 1rem;
}
.popupDetailsMeta .metaBasic > div:nth-child(1) span,
.popupDetailsMeta .metaBasic > div:nth-child(2) span,
.popupDetailsMeta .metaBasic > div:nth-child(3) span,
.popupDetailsMeta .metaBasic > div:nth-child(4) span,
.popupDetailsMeta .metaBasic > div:nth-child(5) span,
.popupDetailsMeta .metaBasic > div:nth-child(6) span {
    font-family: Pretendard-Medium, sans-serif;
    font-size: 1.625rem;
    line-height: 140%;
    display: -webkit-box;
    overflow: hidden;
    max-width: 29.375rem;
    text-overflow: ellipsis;
    color: #191f28;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.action_bt{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0 3.75rem;
    gap: 0.63rem;
    border-top: 0 !important;
}
.action_bt .close_bt{

    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    height: 6.25rem;
    text-transform: uppercase;
    border: 4px solid #000;
    border-radius: 1.25rem;
    background-color: #fff;

}
.action_bt .close_bt > div{
    font-family: Pretendard-Medium, sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    line-height: normal;
    color: #242424;
}
.action_bt .print_bt{

    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    height: 6.25rem;
    text-transform: uppercase;
    border: 4px solid #000;
    border-radius: 1.25rem;
    background-color: #000;
}
.action_bt .print_bt > div{
    font-family: Pretendard-Medium, sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    line-height: normal;
    color: #fff;
}
.book_over .action_bt::after{
    display: none;
}
