.libFacilityContainer {
    width: 100%;
    height: 100vh;
    background:
            linear-gradient(172deg, #3970B0 5.1%, #364063 42.9%) top/100% 46% no-repeat,
            #F5F0EE;
    background-repeat: no-repeat;
    overflow: hidden;
}

.libHeader {
    display: flex;
    width: 67.5rem;
    padding: 4.375rem 5.625rem 3.4375rem 5.625rem;
    flex-direction: column;
    align-items: flex-start;
}

.libHeader .libHeaderEn {
    color: #ADB5BD;
    font-family: Pretendard-SemiBold, sans-serif;
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.libHeader .libHeaderKo {
    color: #fff;
    font-family: Pretendard-SemiBold, sans-serif;
    font-size: 2.875rem;
    line-height: normal;
    margin-top: 0.5rem;
}
.libFacilityContainer .libFacilityWrapper{
    position: relative;
}
.libFacilityContainer .libFacilityWrapper .libFacilityMap {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 42.5rem;
    box-sizing: border-box;
}

.libFacilityContainer .libFacilityWrapper .libFacilityMap .libFacilityMapLabel {
    position: fixed;
    top: 10rem;
    right: 5.63rem;
    color: #FFF;
    font-family: Pretendard-Medium, sans-serif;
    font-size: 9.375rem;
    line-height: normal;
}

.libFacilityContainer .libFacilityWrapper .libFacilityMap > img {
    width: 55rem;
    height: fit-content;
    aspect-ratio: 1.423;
}

.libFacilityContainer .libFacilityWrapper .libFacilityContent {
    padding-top: 2.66rem;
    background-color: #f5f0ee;
}

.libFacilityContainer .libFacilityTabMenu {
    display: flex;
    width: 67.5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.libFacilityContainer .libFacilityTabMenu .libFacilityTabItem {
    color: #8B95A1;
    padding: 1.25rem 3.75rem;
    font-family: Pretendard-SemiBold, sans-serif;
    font-size: 2.5rem;
    line-height: normal;
    transition: 0.5s;
}
.libFacilityContainer .libFacilityTabMenu .libFacilityTabItem.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15.625rem;
    background: #191F28;
    color: #FFF;
    font-family: Pretendard-SemiBold, sans-serif;
    font-size: 2.5rem;
    line-height: normal;
}

.libFacilityContainer .libFacilityWrapper .libFacilityContent .libFacilitySlide {
    width: 56rem;
    margin: 1.87rem auto 0;
    transition: 0.3s;
}
.libFacilityContainer .libFacilityWrapper .libFacilityContent .libFacilitySlide .facilityGroupSlide{
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0.94rem
}
.libFacilityContainer .libFacilityWrapper .libFacilityContent .libFacilitySlide .libFacilitySlideItem{
    display: flex;
    width: 18.125rem;
    padding: 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.75rem;
    background-color: #E5DDD8;
}
.libFacilityContainer .libFacilityWrapper .libFacilityContent .libFacilitySlide .libFacilitySlideItem .libPlaceTitleNum{
    color: #6B7684;
    font-family: Pretendard-Regular, sans-serif;
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0.05rem;
}
.libFacilityContainer .libFacilityWrapper .libFacilityContent .libFacilitySlide .libFacilitySlideItem .libPlaceTitle{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    color: #191F28;
    font-family: Pretendard-SemiBold, sans-serif;
    font-size: 1.625rem;
    line-height: normal;
    margin-top: 0.38rem;
}
.libFacilityContainer .libFacilityWrapper .libFacilityContent .libFacilitySlide .libFacilitySlideItem .libPlaceImage{
    width: 100%;
    height: 8.125rem;
    border-radius: 0.25rem;
    margin-top: 1rem;
}
.libFacilityContainer .libFacilityWrapper .libFacilityContent .libFacilitySlide .libFacilitySlideItem .libPlaceImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.libFacilitySlideDot {
    position: fixed;
    left: 50%;
    bottom: 8.62rem;
    transform: translateX(-50%);

}
.libFacilitySlideDot ul{
    position: static;
    display: inline-flex;
    gap: 0.875rem;
}

.libFacilitySlideDot ul li {
    width: 0.75rem !important;
    height: 0.75rem !important;
    background-color: #fff !important;
    border-radius: 100%;
}

.libFacilitySlideDot button {
    width: 0.75rem !important;
    height: 0.75rem !important;
    background-color: #fff !important;
    border-radius: 100%;

}

.libFacilitySlideDot .slick-active button{
    background-color: #ADB5BD !important;
}
.libFacilityModalOverlay{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999
}

.libFacilityModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56.25rem;
    height: 77.4375rem;
    border-radius: 1.875rem;
    background: #FFF;
    z-index: 9999999
}

.libFacilityModal .libFacilityHead{
    display: flex;
    flex-direction: column;
    width: 56.25rem;
    padding: 3.125rem 0 1.875rem 3.125rem;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 1.875rem 1.875rem 0 0;
    background: #E5DDD8;
}
.libFacilityModal .libFacilityHead .libFacilityNum{
    color: #6B7684;
    font-family: Pretendard-Regular, sans-serif;
    font-size: 1.375rem;
    line-height: normal;
}
.libFacilityModal .libFacilityHead .libFacilityTit{
    color: #191F28;
    font-family: Pretendard-SemiBold, sans-serif;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.05313rem;
    text-transform: uppercase;
}
.libFacilityModal .libFacilityContent{
    width: 100%;
    padding: 3.84rem 4.69rem;
}
.libFacilityModal .libFacilityContent .libFacilityImage{
    width: 100%;
    height: 29.25rem;
    border-radius: 1.125rem;
    overflow: hidden;
}
.libFacilityModal .libFacilityContent .libFacilityImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.libFacilityModal .libFacilityContent .libFacilityInfo{
    display: flex;
    flex-direction: column;
    gap: 0.62rem;
    color: #191F28;
    font-family: Pretendard-Medium, sans-serif;
    font-size: 1.875rem;
    line-height: 140%; /* 2.625rem */
    letter-spacing: -0.04688rem;
    margin: 2.5rem 0 1.34rem;
}
.libFacilityModal .libFacilityContent .libFacilityInfo li{
    display: flex;
    align-items: center;
}
.libFacilityModal .libFacilityContent .libFacilityInfo li::before{
    content: "";
    background: url(/resources/ict/typeE/kiosk/img/info/check_ico.svg) top left / cover no-repeat;
    display: inline-block;
    width: 2.125rem;
    height: 2.125rem;
    margin-right: 1rem;
}
.libFacilityModal .libFacilityContent .libFacilityDesc{
    display: flex;
    width: 48.125rem;
    padding: 1.875rem 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.125rem;
    background: #E5E8EB;
    color: #191F28;
    font-family: Pretendard-Medium, sans-serif;
    font-size: 1.25rem;
    line-height: 150%; /* 1.875rem */
}
.libFacilityModal .close{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    gap: 0.59375rem;
    border-top: 1px solid #E5E8EB;
    padding: 2rem 0;
    text-align: center;
    color: #191F28;
    font-family: Pretendard-Medium, sans-serif;
    font-size: 1.875rem;
    line-height: normal;
}
.libFacilityModal .close::before{
    content: "";
    background: url(/resources/ict/typeE/kiosk/img/close0.svg) top left / cover no-repeat;
    display: inline-block;
    width: 2.38334rem;
    height: 2.38334rem;
}
