.infoContainer {
    position: relative;
    background: url('/resources/ict/typeE/info/img/info/info_bg.png') bottom 10rem left / cover no-repeat;
    background-blend-mode: color;
    width: 100%;
    height: 100vh;
}

.infoContainer::after{
    content: "";
    background-color: #F5F0EE;
    width: 74%;
    height: 100vh;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.libHeader {
    display: flex;
    width: 67.5rem;
    padding: 4.375rem 5.625rem 3.4375rem 5.625rem;
    flex-direction: column;
    align-items: flex-start;
}

.libHeader .libHeaderEn {
    color: #ADB5BD;
    font-family: Pretendard-SemiBold, sans-serif;
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.libHeader .libHeaderKo {
    color: #191F28;
    font-family: Pretendard-SemiBold, sans-serif;
    font-size: 2.875rem;
    line-height: normal;
    margin-top: 0.5rem;
}
.infoContainer .infoWrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
}
.infoContainer .infoWrapper .infoGroup {
    display: flex;
    gap: 6.5rem;
    align-items: flex-start;
    justify-content: center;
}

.infoContainer .infoWrapper .infoGroup .infoTitle {
    color: #191F28;
    width: 8rem;
    text-align: right;
    font-family: Pretendard-SemiBold, sans-serif;
    font-size: 1.75rem;
    line-height: normal;
    letter-spacing: -0.04375rem;
}

.infoContainer .infoWrapper .infoGroup .infoContent {
    display: flex;
    flex-direction: column;
    row-gap: 0.62rem;
}

.infoContainer .infoWrapper .infoGroup .infoContent .infoDesc {
    color: #191F28;
    font-family: Pretendard-Regular, sans-serif;
    font-size: 1.875rem;
    line-height: 140%; /* 2.625rem */
    letter-spacing: -0.04688rem;
    display: flex;
    column-gap: 1rem;
}
.infoContainer .infoWrapper .infoGroup .infoContent .infoDesc::before{
    content: "";
    background: url("/resources/ict/typeE/info/img/info/check_ico.svg") top left no-repeat;
    background-size: 2.125rem;
    width: 2.125rem;
    height: 2.125rem;
    margin: 0.25rem 0;
    display: inline-block;
}


.infoContainer .infoWrapper .infoGroup .infoContent .infoTable {
    border-radius: 0.75rem;
    overflow: hidden;
    width: 41.625rem;
}


.infoContainer .infoWrapper .infoGroup .infoContent .infoTable caption {
    display: none;
}
.infoContainer .infoWrapper .infoGroup .infoContent .infoTable thead {
    background-color: #587590;
}
.infoContainer .infoWrapper .infoGroup .infoContent .infoTable thead tr {}
.infoContainer .infoWrapper .infoGroup .infoContent .infoTable thead th {
    padding: 1rem 1.25rem;
    color: #FFF;
    text-align: center;
    font-family: PretendardMedium, sans-serif;
    font-size: 1.375rem;
    line-height: normal;
    letter-spacing: -0.03438rem;
}

.infoContainer .infoWrapper .infoGroup .infoContent .infoTable tbody {
    background-color: #fff;
}
.infoContainer .infoWrapper .infoGroup .infoContent .infoTable tbody tr {
    border-bottom: 1px solid #C8CDD2;
    box-sizing: border-box;
}
.infoContainer .infoWrapper .infoGroup .infoContent .infoTable tbody td {
    padding: 1rem 1.25rem;
    color: #191F28;
    text-align: center;
    font-family: PretendardMedium, sans-serif;
    font-size: 1.375rem;
    line-height: normal;
    letter-spacing: -0.03438rem;
}

.rowDesc{
    padding-left: 3.3rem;
    flex-direction: column;
    color: #191F28;
    font-family: Pretendard-Regular, sans-serif;
    font-size: 1.875rem;
    line-height: 140%; /* 2.625rem */
    letter-spacing: -0.04688rem;
    display: flex;
    column-gap: 1rem;
}
.rowDesc > div::before{
    content: "-";
    margin-right: 1rem;
    display: inline-block;
    font-size: 1.875rem;
}
.infoContainer .infoWrapper .infoGroup .infoContent .infoReturnGuide {
}

.infoContainer .infoWrapper .infoGroup .infoContent .infoReturnGuide .infoReturnList {
}

.infoContainer .infoWrapper .infoGroup .infoContent .infoReturnGuide .infoReturnList .infoReturnItem {
}
