<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.module.bookKeyword.BookKeywordDao">

	<select id="getBookKeywordList" resultType="kr.go.gbelib.app.module.bookKeyword.BookKeyword">
		SELECT *
		FROM (
			SELECT
				KEYWORD_IDX,
				KEYWORD_NAME,
				KEYWORD_BEAT,
				ADD_DATE,
				ADD_ID
			FROM
				BOOK_ATTN_KEYWORD
			ORDER BY
				RAND()
			LIMIT 30
		) AS T
		ORDER BY
			KEYWORD_BEAT DESC
	</select>

</mapper>
