.container {
  background: url('/resources/ict/libraryBoard/img/facility/bg.png') no-repeat center center;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 320px;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .wrapper:first-child {
  margin-top: 157px;
}

.current_floor {
  position: absolute;
  top: -43px;
  right: 10px;
  font-size: 340px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  font-family: Pretendard-Medium, sans-serif;
  font-style: normal;
}

.map {
  width: 1760px;
}

.tab_pannel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  gap: 80px;
}

.tab {
  width: 282px;
  font-size: 80px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: #8b95a1;
  font-family: Pretendard-SemiBold, sans-serif;
  font-style: normal;
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 334px !important;
  height: 175px;
  border-radius: 500px;
  color: #fff !important;
  background: #191f28;
}

.slide {
  margin-top: 100px;
  width: 1440px;
}

.slide_item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 100px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.5px;
  color: #191f28;
  font-family: Pretendard-Bold, sans-serif;
  font-style: normal;
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 40px 28px;
  gap: 20px;
}

.list_item {
  font-size: 60px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -1.5px;
  color: #191f28;
  background-image: url('/resources/ict/libraryBoard/img/facility/bullet.svg');
  background-size: 68px;
  background-repeat: no-repeat;
  background-position: left 8px;
  padding-left: 100px;
  font-family: Pretendard-Regular, sans-serif;
  font-style: normal;
}

@media (width <= 1920px) {
  .content {
    gap: 160px;
  }

  .content .wrapper:first-child {
    margin-top: 79px;
  }

  .current_floor {
    top: -22px;
    right: 5px;
    font-size: 170px;
  }

  .map {
    width: 880px;
  }

  .tab_pannel {
    width: 720px;
    gap: 40px;
  }

  .tab {
    width: 141px;
    font-size: 40px;
  }

  .active {
    width: 167px !important;
    height: 88px;
    border-radius: 250px;
  }

  .slide {
    margin-top: 50px;
    width: 720px;
  }

  .slide_item {
    gap: 10px;
  }

  .title {
    font-size: 50px;
    letter-spacing: -1.25px;
    margin-bottom: 10px;
  }

  .list {
    padding: 20px 14px;
    gap: 10px;
  }

  .list_item {
    font-size: 30px;
    letter-spacing: -0.75px;
    background-size: 34px;
    background-position: left 4px;
    padding-left: 50px;
  }
}
