.container {
  background: url('/resources/ict/libraryBoard/img/information/bg.png') no-repeat center center;
}

.content {
  display: flex;
  padding-top: 174px;
  gap: 160px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 56px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.4px;
  color: #191f28;
  font-family: Pretendard-SemiBold, sans-serif;
  font-style: normal;
  margin-bottom: 50px;
}

table {
  width: 1500px;
  border: none;
  border-radius: 23px;
  background: #fff;
  border-collapse: collapse;
}

.content .wrapper:nth-of-type(1) table {
  margin-bottom: 110px;
}

.content .wrapper:nth-of-type(2) table {
  margin: 52px 0;
}

thead {
  border-radius: 23px 23px 0 0;
  background: #587590;
}

thead tr th {
  padding: 24px 0;
  border: none;
  font-size: 44px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.88px;
  text-align: center;
  color: #fff;
  font-family: Pretendard-Regular, sans-serif;
  font-style: normal;
}

thead tr th:first-child {
  border-radius: 23px 0 0;
}

thead tr th:last-child {
  border-radius: 0 23px 0 0;
}

tbody tr td {
  padding: 34px 40px;
  border: 1px solid #ccc;
  font-size: 44px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.88px;
  text-align: center;
  color: #191f28;
  font-family: Pretendard-Medium, sans-serif;
  font-style: normal;
}

table tr:last-child td {
  border-bottom: none;
}

tbody tr td:first-child {
  border-left: none;
}

tbody tr td:last-child {
  border-right: none;
}

.left {
  text-align: left;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list_item {
  font-size: 60px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -1.5px;
  color: #191f28;
  background-image: url('/resources/ict/libraryBoard/img/information/bullet.svg');
  background-size: 68px;
  background-repeat: no-repeat;
  background-position: left 8px;
  padding-left: 100px;
  font-family: Pretendard-Regular, sans-serif;
  font-style: normal;
}

@media (width <= 1920px) {
  .content {
    padding-top: 87px;
    gap: 180px;
  }

  .title {
    font-size: 28px;
    letter-spacing: -0.7px;
    margin-bottom: 25px;
  }

  table {
    width: 750px;
    border-radius: 12px;
  }

  .content .wrapper:nth-of-type(1) table {
    margin-bottom: 55px;
  }

  .content .wrapper:nth-of-type(2) table {
    margin: 26px 0;
  }

  thead {
    border-radius: 12px 12px 0 0;
  }

  thead tr th {
    padding: 12px 0;
    font-size: 22px;
    letter-spacing: -0.44px;
  }

  thead tr th:first-child {
    border-radius: 12px 0 0;
  }

  thead tr th:last-child {
    border-radius: 0 12px 0 0;
  }

  tbody tr td {
    padding: 17px 20px;
    font-size: 22px;
    letter-spacing: -0.44px;
  }

  .list {
    gap: 10px;
  }

  .list_item {
    font-size: 30px;
    letter-spacing: -0.75px;
    background-size: 34px;
    background-position: left 3px;
    padding-left: 50px;
  }
}
