.container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: url('/resources/ict/common/img/login.svg') center center no-repeat;
  background-size: cover;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 28.125rem;
}

.title {
  font-family: "Pretendard", sans-serif;
  font-size: 4.375rem;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  letter-spacing: -0.0875rem;
  color: #FFFFFF;
}

.sub_title {
  font-family: "Pretendard", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 140%;
  margin-top: 1.25rem;
  margin-bottom: 9.375rem;
  text-align: center;
  letter-spacing: -0.05rem;
  color: #FFFFFF;
}

.wrapper img {
  width: 62.03125rem;
  height: 24.03125rem;
}

.navigation {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10rem;
  background: #fff;
  box-shadow: 0 -0.0625rem 1.25rem rgba(0, 0, 0, 0.1);
}

.navigation > li {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
}

.navigation > li > img {
  width: 3rem;
  height: 3rem;
}

.navigation > li > .menu {
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  color: #adb5bd;
}

.navigation > li > span {
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 0.625rem;
  font-weight: 400;
  color: #adb5bd;
}
