.container {
    background-image: url("/resources/ict/typeD/account/img/loginBg.png");
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;

    animation: fade-in-up 1s ease-out forwards;
    opacity: 0;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.loginMessage {
    margin-top: 13.12rem;
    font-family: PretendardMedium, sans-serif;
    font-size: 4.375rem;
    font-style: normal;
    line-height: 140%;
    margin-bottom: 3.75rem;
    padding-top: 8.75rem;
    text-align: center;
    letter-spacing: -0.10938rem;
    color: #FFF;
    background-image: url("/resources/ict/typeD/account/img/user.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 6.25rem;
}

.loginForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.loginForm label {
    position: relative;
    width: 52.5rem;
}

.loginForm label img {
    position: absolute;
    top: 50%;
    left: 1.88rem;
    width: 3rem;
    height: 3rem;
    transform: translateY(-50%);
}

.loginForm label input {
    font-family: PretendardMedium, sans-serif;
    font-size: 2.125rem;
    font-style: normal;
    line-height: normal;
    width: -webkit-fill-available;
    height: 8.5rem;
    padding: 0 1.88rem 0 7.87rem;
    letter-spacing: -0.0425rem;
    color: #191F28;
    border: 3px solid #ADB5BD;
    border-radius: 1.875rem;
    background-color: #FFF !important;
}

.loginForm label input:hover,
.loginForm label input:focus {
    border: 3px solid #ADB5BD;
    outline: none;
    background-color: #FFF;
}

.loginForm label input::placeholder {
    color: #8B95A1;
}

.rfidLoginLink,
.submit {
    font-family: PretendardBold, sans-serif;
    font-size: 2.125rem;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52.5rem;
    height: 8.5rem;
    letter-spacing: -0.05313rem;
    color: #FFF;
    border-radius: 1.875rem;
}

.submit {
    margin-top: 2.75rem;
    background: #191F28;
}

.simpleLoginMessage {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    line-height: normal;
    margin-top: 17.5rem;
    margin-bottom: 2.25rem;
    text-align: center;
    letter-spacing: -0.04688rem;
    color: #FFF;
}

.rfidLoginLink {
    margin-bottom: 2.7rem;
    background: #6B7684;
}
