body {
    margin: 0;
}

#container {
    position:absolute;
    display: flex;
    overflow:hidden;
    flex-direction: column;
    background: url("/resources/ict/dglib/media/img/stairs/book.png") no-repeat center bottom;
    background-size: cover;
    inset:0;
    gap: 0;
}

#container span {
    position: absolute;
    width: 1vmin;   /* 20vmin → 4vmin (1/5 크기) */
    height: 1vmin;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 1vmin; /* 원형 유지 */
    backface-visibility: hidden;
}



#container span:nth-child(1) {
    top: 45%;
    left: 93%;
    transform-origin: 18vw 6vh;
    animation-duration: 13.1s;
    animation-delay: -0.3s;
    color: #FFF;
    box-shadow: 8vmin 0 2.5vmin currentcolor;
}

#container span:nth-child(2) {
    top: 50%;
    left: 46%;
    transform-origin: -7vw 16vh;
    animation-duration: 13s;
    animation-delay: -4.3s;
    color: #fff;
    box-shadow: 8vmin 0 2.8vmin currentcolor;
}

#container span:nth-child(3) {
    top: 51%;
    left: 14%;
    transform-origin: -20vw -4vh;
    animation-duration: 11.5s;
    animation-delay: -8.8s;
    color: #6DE1C2;
    box-shadow: 8vmin 0 2.5vmin currentcolor;
}

#container span:nth-child(4) {
    top: 40%;
    left: 39%;
    transform-origin: 1vw 20vh;
    animation-duration: 12s;
    animation-delay: -4s;
    color: #6DE1C2;
    box-shadow: 8vmin 0 1.1vmin currentcolor;
}

#container span:nth-child(5) {
    top: 2%;
    left: 1%;
    transform-origin: -15vw 22vh;
    animation-duration: 16s;
    animation-delay: -10.8s;
    color: #6DE1C2;
    box-shadow: 8vmin 0 1.4vmin currentcolor;
}

#container span:nth-child(6) {
    top: 91%;
    left: 37%;
    transform-origin: 15vw -2vh;
    animation-duration: 15.3s;
    animation-delay: -0.3s;
    color:#6DE1C2;
    box-shadow: -8vmin 0 2.2vmin currentcolor;
}

#container span:nth-child(7) {
    top: 36%;
    left: 31%;
    transform-origin: 24vw 23vh;
    animation-duration: 13.4s;
    animation-delay: -10s;
    color: #6DE1C2;
    box-shadow: -8vmin 0 1vmin currentcolor;
}

#container span:nth-child(8) {
    top: 99%;
    left: 38%;
    transform-origin: -11vw -6vh;
    animation-duration: 11.4s;
    animation-delay: -8s;
    color: #FFF;
    box-shadow: 8vmin 0 2.9vmin currentcolor;
}

#container span:nth-child(9) {
    top: 86%;
    left: 64%;
    transform-origin: -4vw 19vh;
    animation-duration: 13.9s;
    animation-delay: -0.3s;
    color: #FFF;
    box-shadow: 8vmin 0 1.7vmin currentcolor;
}

#container span:nth-child(10) {
    top: 71%;
    left: 27%;
    transform-origin: -8vw -16vh;
    animation-duration: 10.8s;
    animation-delay: -10.7s;
    color: #fff;
    box-shadow: 8vmin 0 2.6vmin currentcolor;
}

#container span:nth-child(11) {
    top: 49%;
    left: 43%;
    transform-origin: -8vw 9vh;
    animation-duration: 14s;
    animation-delay: -7.7s;
    color: #FFF;
    box-shadow: 8vmin 0 2.1vmin currentcolor;
}

#container span:nth-child(12) {
    top: 98%;
    left: 60%;
    transform-origin: 25vw 8vh;
    animation-duration: 10.1s;
    animation-delay: -15.5s;
    color: #FFF;
    box-shadow: 8vmin 0 1.6vmin currentcolor;
}

#container span:nth-child(13) {
    top: 90%;
    left: 33%;
    transform-origin: 7vw 4vh;
    animation-duration: 12.7s;
    animation-delay: -5.3s;
    color: #fff;
    box-shadow: -8vmin 0 1.1vmin currentcolor;
}

#container span:nth-child(14) {
    top: 72%;
    left: 60%;
    transform-origin: -15vw -1vh;
    animation-duration: 15.8s;
    animation-delay: -1.9s;
    color:#FFF;
    box-shadow: -8vmin 0 2.2vmin currentcolor;
}

#container span:nth-child(15) {
    top: 5%;
    left: 95%;
    transform-origin: 21vw -9vh;
    animation-duration: 14.6s;
    animation-delay: -11.4s;
    color: #fff;
    box-shadow: -8vmin 0 1.3vmin currentcolor;
}

#container span:nth-child(16) {
    top: 51%;
    left: 75%;
    transform-origin: 19vw 18vh;
    animation-duration: 15.5s;
    animation-delay: -1.6s;
    color: #fff;
    box-shadow: -8vmin 0 1.9vmin currentcolor;
}

#container span:nth-child(17) {
    top: 89%;
    left: 58%;
    transform-origin: -3vw -22vh;
    animation-duration: 14.3s;
    animation-delay: -16s;
    color: #FFF;
    box-shadow: 8vmin 0 2.4vmin currentcolor;
}

#container span:nth-child(18) {
    top: 91%;
    left: 75%;
    transform-origin: 8vw 21vh;
    animation-duration: 13s;
    animation-delay: -3.5s;
    color: #ffde00;
    box-shadow: 8vmin 0 1.5vmin currentcolor;
}

#container span:nth-child(19) {
    top: 85%;
    left: 81%;
    transform-origin: -20vw 11vh;
    animation-duration: 14.3s;
    animation-delay: -15.3s;
    color: #FFF;
    box-shadow: 8vmin 0 1.6vmin currentcolor;
}

#container span:nth-child(20) {
    top: 71%;
    left: 7%;
    transform-origin: 5vw -15vh;
    animation-duration: 14.8s;
    animation-delay: -15.1s;
    color: #6DE1C2;
    box-shadow: -8vmin 0 1vmin currentcolor;
}

/* 공통 회전 애니메이션 */
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.header {
    font-family: PretendardSemiBold, sans-serif;
    font-size: 32px;
    font-style: normal;
    line-height: 120%;
    position: absolute;
    z-index: 1;
    top: 600px;
    left: 48px;
    letter-spacing: -0.8px;
    color: #FFF;
}

.top, .bottom {
    z-index: 1;
    width: 100%;
}

.slick-list, .slick-track {
    height: 100%;
}

.top {
    height: 1299px;
}

.bookBottomList, .bookTopList {
    height: 100%;
}

.bookTopList {
    direction: rtl;
}

.bookTopListItem, .bookBottomListItem {
    justify-content: center;
    height: 100%;
}

.bottom {
    height: 1580px;
}

.bookTopListItem .bookImg {
    margin-top: 677px;
    margin-right: 443px;
}

.bookBottomList .bookImg {
    margin-top: 107px;
}

.bookImg {
    width: 366px;
    height: 525px;
    border-radius: 24.933px;
    box-shadow: 15.26px 38.151px 61.042px 0 rgb(0 0 0 / 20%);
    object-fit: fill;
}

.bookTopListItem .summary {
    margin-top: 573px;
    margin-right: 81px;
}

.bookBottomList .summary {
    margin-top: 720px;
    margin-right: 455px;
}

.summary {
    font-family: PretendardMedium, sans-serif;
    font-size: 52px;
    font-style: normal;
    line-height: 150%;
    display: -webkit-box;
    overflow: hidden;
    width: 820px;
    height: 234px;
    text-align: center;
    letter-spacing: -1.3px;
    text-overflow: ellipsis;
    color: #FFF;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.bookTopListItem .information {
    margin-top: 216px;
}

.bookBottomList .information {
    margin-top: 1055px;
    margin-right: 73.15px;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.information div:first-child {
    font-family: PretendardMedium, sans-serif;
    font-size: 50px;
    font-style: normal;
    line-height: 130%;
    overflow: hidden;
    width: 790px;
    white-space: nowrap;
    letter-spacing: -1.25px;
    text-overflow: ellipsis;
    color: #FFF;
}

.information div:last-child {
    font-family: PretendardBold, sans-serif;
    font-size: 84px;
    font-style: normal;
    line-height: 130%;
    display: -webkit-box;
    overflow: hidden;
    width: 800px;
    height: 218px;
    letter-spacing: -2.1px;
    text-overflow: ellipsis;
    color: #FFF;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.bookTopListItem .information div {
    direction: ltr;
}

.bookTopListItem .summary {
    direction: ltr;
}