.container {
    width: 100%;
    height: 100vh;
    background: url("/resources/ict/dglib/media/img/stairs/line.png") no-repeat center center;
    background-size: contain;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.125rem 5rem;
}

.header div:first-child {
    font-family: PretendardSemiBold, sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.02rem;
    color: #191F28;
}

.header div:last-child {
    font-family: PretendardSemiBold, sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #8B95A1;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 15rem;
}

.content div:first-child {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.875rem;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    margin-bottom: 3.44rem;
    text-align: center;
    color: #8B95A1;
}

.title {
    font-family: NanumMyeongjo, sans-serif;
    font-size: 3.4375rem;
    font-style: normal;
    line-height: 150%;
    width: 65rem;
    margin-bottom: 1.88rem;
    text-align: center;
    letter-spacing: -0.06875rem;
    color: #191F28;
}

.title p {
    margin: 0;
}

.description {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #6B7684;
}

@media (width <= 1920px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5625rem 2.5rem;
    }

    .header div:first-child {
        font-family: PretendardSemiBold, sans-serif;
        font-size: 0.5rem;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.01rem;
        color: #191F28;
    }

    .header div:last-child {
        font-family: PretendardSemiBold, sans-serif;
        font-size: 0.5rem;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        color: #8B95A1;
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 7.5rem;
    }

    .content div:first-child {
        font-family: PretendardMedium, sans-serif;
        font-size: 0.9375rem;
        font-weight: 500;
        font-style: normal;
        line-height: normal;
        margin-bottom: 1.72rem;
        text-align: center;
        color: #8B95A1;
    }

    .title {
        font-family: NanumMyeongjo, sans-serif;
        font-size: 1.71875rem;
        font-style: normal;
        line-height: 150%;
        width: 32.5rem;
        margin-bottom: 0.94rem;
        text-align: center;
        letter-spacing: -0.034375rem;
        color: #191F28;
    }

    .title p {
        margin: 0;
    }

    .description {
        font-family: PretendardMedium, sans-serif;
        font-size: 0.75rem;
        font-style: normal;
        line-height: normal;
        text-align: center;
        color: #6B7684;
    }
}