.noticeWrapper {
    width: 100%;
    height: 100vh;
    background: url("/resources/ict/dglib/media/img/temp/notiBg_L.png") top left / cover no-repeat;
}
.noticeWrapper .noticeContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 1.92rem;
}
.noticeWrapper .noticeContent .noticeMain {
    font-family: PretendardSemiBold, sans-serif;
    font-size: 3.4375rem;
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
    text-align: center;
    color: #242424;
}
.noticeWrapper .noticeContent .noticeSub {
    font-family: PretendardMedium, sans-serif;
    font-size: 2.8125rem;
    font-weight: 500;
    font-style: normal;
    line-height: 140%;
    text-align: center;
    fcolor: #242424;
}