.btchHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 60rem;
  height: 4.375rem;
  padding: 0 1.875rem;
}

.btchHeader .btchHeaderL {
  font-family: Pretendard-Medium, sans-serif;
  font-size: 0.6875rem;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #fff;
}

.btchHeader .btchHeaderR {
  font-family: Pretendard-ExtraBold, sans-serif;
  font-size: 0.5rem;
  font-style: normal;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #8b95a1;
}

.wthrContainer {
  position: relative;
  width: 60rem;
  height: 100vh;
  background:
    linear-gradient(105deg, rgb(18 22 29 / 50%) 10.68%, rgb(6 32 70 / 50%) 50.29%, rgb(18 22 29 / 50%) 89.9%), linear-gradient(90deg, #12161d 0%, rgb(6 32 70 / 50%) 50%, #12161d 100%),
    linear-gradient(0deg, #4e1a37 0%, #1d1d35 100%);
}

.wthrContent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5.625rem;
}

.wthrContent .weatherItem {
  display: flex;
  flex-direction: column;
  gap: 3.375rem;
}

.wthrContent .weatherItem .weatherWidget {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 1.5rem;
}

.wthrContent .weatherItem .weatherWidget > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2.25rem;
}

.wthrContent .weatherItem .weatherWidget .todayInfo {
  display: flex;
  align-items: flex-start;
  padding: 0 0.375rem;
  gap: 1.125rem;
}

.wthrContent .weatherItem .weatherWidget .todayInfo div:first-child {
  font-family: Pretendard-ExtraBold, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  color: #fff;
}

.wthrContent .weatherItem .weatherWidget .todayInfo div:last-child {
  font-family: Pretendard-SemiBold, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  line-height: normal;
  color: #fff;
}

.wthrContent .weatherItem .weatherWidget .weatherIcon {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.wthrContent .weatherItem .weatherWidget .todayTemp {
  font-family: Roboto, sans-serif;
  font-size: 6rem;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.24rem;
  color: #fff;
  leading-trim: both;
  text-edge: cap;
}

.wthrContent .weatherItem .weatherWidget .feelsLike {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 0 0.375rem;
  gap: 1.125rem;
}

.wthrContent .weatherItem .weatherWidget .feelsLike div:first-child {
  font-family: PretendardMedium, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  line-height: normal;
  color: #fff;
}

.wthrContent .weatherItem .weatherWidget .feelsLike div:last-child {
  font-family: Roboto, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  line-height: normal;
  color: #fff;
}

.wthrContent .weatherItem .weatherWidget .todayIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.25rem;
  height: 11.25rem;
}

.wthrContent .weatherItem .lifeIndex {
  display: flex;
  align-items: flex-start;
  gap: 0.5625rem;
}

.wthrContent .weatherItem .lifeIndex div {
  font-family: PretendardRegular, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  line-height: normal;
  display: flex;
  align-items: baseline;
  padding: 1.125rem 1.875rem 1.125rem 3.45rem;
  color: #adb5bd;
  border-radius: 1.875rem;
  background-color: rgb(255 255 255 / 20%);
  background-repeat: no-repeat;
  background-position: center left 1.875rem;
  background-size: 0.9375rem;
  gap: 0.5625rem;
}

.lifeIndex div:first-child {
  background-image: url("/resources/ict/typeE/media/img/weather/life/dust.svg");
}

.lifeIndex div:last-child {
  background-image: url("/resources/ict/typeE/media/img/weather/life/food.svg");
}

.wthrContent .weatherItem .lifeIndex div span {
  font-family: Pretendard-SemiBold, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  line-height: normal;
  color: #fff;
}

.wthrContent .weeklyForecast {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5625rem;
}

.wthrContent .weeklyForecast .weeklyTitle {
  font-family: Pretendard-SemiBold, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.028125rem;
  text-transform: uppercase;
  color: #fff;
}

.wthrContent .weeklyForecast .weeklyList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;
}

.wthrContent .weeklyForecast .weeklyList .weeklyItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  padding: 1.5625rem 0;
  border: 2px solid rgb(255 255 255 / 50%);
  border-radius: 0.9375rem;
  background: linear-gradient(180deg, rgb(255 255 255 / 15%) 0%, rgb(255 255 255 / 0%) 100%), rgb(255 255 255 / 5%);
  gap: 1.25rem;
}

.wthrContent .weeklyForecast .weeklyList .weeklyItem img {
  flex-shrink: 0;
  width: 2.8125rem;
  height: 2.8125rem;
}

.wthrContent .weeklyForecast .weeklyList .weeklyItem .weeklyInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.3125rem;
}

.wthrContent .weeklyForecast .weeklyList .weeklyItem .weeklyInfo div:first-child {
  font-family: PretendardRegular, sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: #adb5bd;
}

.wthrContent .weeklyForecast .weeklyList .weeklyItem .weeklyInfo div:last-child {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #fff;
}
