.container {
    background-image: url("/resources/ict/typeD/smart/img/keyword/bg.png");
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.3rem;
    animation: fade-in-up 1s ease-out forwards;
    opacity: 0;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.title div:first-child {
    font-family: PretendardSemiBold, sans-serif;
    font-size: 3.125rem;
    font-style: normal;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.07813rem;
    color: #191F28;
}

.title div:last-child {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.625rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.04063rem;
    color: #6B7684;
}

.filter {
    display: flex;
    width: 56.25rem;
    height: 5rem;
    margin-top: 3rem;
    border-radius: 2.5rem;
    background: #ADB5BD;
}

.filter button {
    font-family: PretendardSemiBold, sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11.25rem;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 2.5rem;
}

.filter .active {
    background: #191F28;
}

.bookSlide {
    width: 100%;
    height: 74.78rem;
    padding: 0;
}

.wrapper {
    display: grid !important;
    padding: 3.12rem 6.25rem 3.87rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.88rem 3.25rem;
}

.book img {
    width: 11.3125rem;
    height: 16.25rem;
    margin-bottom: 1.25rem;
    border-radius: 0.75rem;
    box-shadow: 20px 40px 60px 0 rgb(0 0 0 / 16%);

}

.book div:nth-child(2) {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 140%;
    overflow: hidden;
    width: 11.3125rem;
    margin-bottom: 0.25rem;
    white-space: nowrap;
    letter-spacing: -0.0375rem;
    text-overflow: ellipsis;
    color: #191F28;
}

.book div:nth-child(3) {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    line-height: normal;
    overflow: hidden;
    width: 11.3125rem;
    white-space: nowrap;
    letter-spacing: -0.03125rem;
    text-overflow: ellipsis;
    color: #6B7684;
}

.bookSlide .slick-dots {
    position: absolute;
    bottom: 0;
    display: flex !important;
    justify-content: center;
    width: 100%;
    gap: 1.25rem;
}

.bookSlide .slick-dots li {
    width: 0.75rem;
    height: 0.75rem;
    margin: 0;
}

.bookSlide .slick-dots li button {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    border: none;
    border-radius: 50%;
    background-color: #8B95A1;
}

.bookSlide .slick-dots li.slick-active button {
    background-color: #121212;
}

.noData {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PretendardMedium, sans-serif;
    font-size: 2.375rem;
    font-style: normal;
    line-height: normal;
    color: #191F28;
}