html, body, * {
    cursor: url('/resources/ict/typeD/common/img/common/cursor.png'), auto !important;
}

.dim {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #121212;
}

.scrollDownArea {
    position: relative;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.copyright {
    font-family: PretendardMedium, sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    position: absolute;
    bottom: 1.41rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #ADB5BD;
}

.scrollUp {
    position: fixed;
    z-index: 999;
    right: 1.88rem;
    bottom: 1.88rem;
    display: none;
    align-items: center;
    justify-content: center;
    width: 6.875rem;
    height: 6.875rem;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0.3125rem 0.625rem 1.25rem rgb(0 0 0 / 20%);
}

.scrollUp img {
    width: 3rem;
    height: 3rem;
    animation: bounce-double 2.5s infinite ease-in-out;
}

@keyframes bounce-double {
    0%, 100% { transform: translateY(0); }
    10% { transform: translateY(-0.46875rem); }
    20% { transform: translateY(0); }
    30% { transform: translateY(-0.375rem); }
    40% { transform: translateY(0); }
    70%, 90% { transform: translateY(0); }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination a {
    width: 1.25rem;
    height: 1.25rem;
}

.pagination .first {
    margin-right: 0.63rem;
    background: url("/resources/ict/typeD/smart/img/common/first.svg") no-repeat center center;
    background-size: contain;
}

.pagination .prev {
    margin-right: 1.87rem;
    background: url("/resources/ict/typeD/smart/img/common/prev.svg") no-repeat center center;
    background-size: contain;
}

.pagination .last {
    margin-left: 0.63rem;
    background: url("/resources/ict/typeD/smart/img/common/last.svg") no-repeat center center;
    background-size: contain;
}

.pagination .next {
    margin-left: 1.87rem;
    background: url("/resources/ict/typeD/smart/img/common/next.svg") no-repeat center center;
    background-size: contain;
}

.pagination ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 2.53rem;
}

.pagination ul li {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    line-height: normal;
    list-style: none;
    text-transform: uppercase;
    color: #191F28;
}

.pagination ul li.active {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 -0.94rem;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 50%;
    background: #191F28;
}

.loadingOverlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
}

.loadingOverlay img {
    width: 20rem;
    height: 20rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.commonPopup {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    background: rgb(0 0 0 / 50%);
}

.commonPassWordPopup {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    background: rgb(0 0 0 / 50%);
}

.commonPopupContent {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5rem 3.75rem 3.125rem;
    transform: translate(-50%, -50%);
    border-radius: 1.875rem;
    background: #FFF;
}

.commonPopupContent div {
    font-family: PretendardRegular, sans-serif;
    font-size: 1.625rem;
    font-style: normal;
    overflow-y: auto;
    width: 31.25rem;
    max-height: 32rem;
    margin-bottom: 2.5rem;
    letter-spacing: -0.0325rem;
    color: #454545;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.commonPopupContent div::-webkit-scrollbar {
    display: none;
}

.commonPopupContent button {
    font-family: PretendardBold, sans-serif;
    font-size: 1.625rem;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    text-align: center;
    color: #FFF;
    border-radius: 0.75rem;
    background: #242424;
}

.exception {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40rem;
    font-family: PretendardMedium, sans-serif;
    font-size: 2.375rem;
    font-style: normal;
    line-height: normal;
    color: #191F28;
}

:root {
    font-size: 32px;
}

@media screen and (width <= 1080px) {
    :root {
        font-size: 16px;
    }
}

* {
    font-family: 'Pretendard-Regular';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

#loading {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255 255 255 / 70%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12.5rem;
}

#loading .container {
    width: 6.25rem;
    height: 6.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    filter: url('#goo');
    animation: rotate-move 2s ease-in-out infinite;
}

#loading .dot {
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#loading .dot-3 {
    background-color: #f74d75;
    animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

#loading .dot-2 {
    background-color: #10beae;
    animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
}

#loading .dot-1 {
    background-color: #ffe386;
    animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
}

@keyframes dot-3-move {
    20% { transform: scale(1) }
    45% { transform: translateY(-0.5625rem) scale(.45) }
    60% { transform: translateY(-2.8125rem) scale(.45) }
    80% { transform: translateY(-2.8125rem) scale(.45) }
    100% { transform: translateY(0) scale(1) }
}

@keyframes dot-2-move {
    20% { transform: scale(1) }
    45% { transform: translate(-0.5rem, 0.375rem) scale(.45) }
    60% { transform: translate(-2.5rem, 1.875rem) scale(.45) }
    80% { transform: translate(-2.5rem, 1.875rem) scale(.45) }
    100% { transform: translateY(0) scale(1) }
}

@keyframes dot-1-move {
    20% { transform: scale(1) }
    45% { transform: translate(0.5rem, 0.375rem) scale(.45) }
    60% { transform: translate(2.5rem, 1.875rem) scale(.45) }
    80% { transform: translate(2.5rem, 1.875rem) scale(.45) }
    100% { transform: translateY(0) scale(1) }
}

@keyframes rotate-move {
    55% { transform: translate(-50%, -50%) rotate(0deg) }
    80% { transform: translate(-50%, -50%) rotate(360deg) }
    100% { transform: translate(-50%, -50%) rotate(360deg) }
}

@keyframes index {
    0%, 100% { z-index: 3 }
    33.3% { z-index: 2 }
    66.6% { z-index: 1 }
}

.no_content {
    height: 97.25rem;
    position: relative;
}

.scroll .no_content {
    height: 100%;
    width: 100%;
}

.scroll .no_content .no_wrapper {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.scroll .no_content .no_wrapper h3 {
    font-size: 1.375rem;
    color: #6b7684;
}

.no_wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 22.1875rem;
}

.no_wrapper h3 {
    font-size: 2.5rem;
    color: #191F28;
    text-align: center;
    font-weight: 500;
}

.no_wrapper img {
    width: 25rem;
    height: 25rem;
}

.header {
    position: relative;
    z-index: 99;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 67.5rem;
    padding: 4.375rem 5.625rem 3.4375rem 5.625rem;
    gap: 0.5rem;
}

.info .header h1 {
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 2.875rem;
    font-weight: 600;
    text-align: left;
    color: #191f28;
}

.new_wrap .header h1 {
    color: #fff;
}

.info .header p {
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #adb5bd;
}

.component_leave {
    position: absolute;
    top: 104.75rem;
    left: 3.125rem;
    width: 6.5625rem;
    height: 3rem;
}

.component_leave a.on img,
.component_leave a:hover img,
.component_leave a:active img {
    filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(146deg) brightness(106%) contrast(104%);
}

.turn_to {
    position: absolute;
    top: 0%;
    right: 60%;
    bottom: 0%;
    left: -6%;
    overflow: visible;
    width: 45%;
    height: 100%;
}

.user {
    position: absolute;
    top: 102.03125rem;
    right: 2%;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 14.0625rem;
    height: 3.75rem;
    padding: 0.375rem 1.25rem 0.375rem 0.3125rem;
    border-radius: 6.25rem;
    background: #ffffff;
    box-shadow: 0.3125rem 0.3125rem 1.25rem 0 rgba(0, 0, 0, 0.1);
    gap: 0.3125rem;
    z-index: 99999;
}

.login_btn {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    max-width: 12.5rem;
    gap: 0.9375rem;
    width: auto;
}

.login_women {
    position: relative;
    flex-shrink: 0;
    width: 2.90625rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.name_div {
    font-family: '-', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: #191f28;
}

.name_span {
    font-family: 'Pretendard-Bold', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #191f28;
}

.login_frame {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    width: 1.4375rem;
    height: 1.28125rem;
}

.group {
    position: absolute;
    top: -1%;
    right: 5%;
    bottom: 6%;
    left: 4%;
    overflow: visible;
    width: 100%;
    height: 100%;
}

.relative {
    position: relative;
}

.inline-block {
    display: inline-block;
}

.BOLD {
    font-weight: bold;
}

body {
    font-family: 'Pretendard-Regular';
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 120rem;
    color: #252524;
}

html {
    width: 100%;
    height: 120rem;
}

#wrap {
    overflow: hidden;
    width: 100%;
    height: 120rem;
}

#wrap.subpage {
    background: #fff;
}

#wrap.subpage #bodyWrap {
    padding-bottom: 1.25rem;
}

#wrap.subpage #footer {
    font-style: normal;
    height: 3.75rem;
    padding: 6.25rem 0;
    text-align: center;
}

.outer {
    display: table;
    width: 100%;
    height: 100%;
}

.inner {
    display: table-cell;
    vertical-align: middle;
}

.div_wrap_info {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 120rem;
}

.div_wrap_info .div_wrap_bg {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 67.5rem;
    height: 120rem;
    object-fit: cover;
}

.info h4 {
    font-size: 0.6875rem;
    line-height: 125%;
    padding: 0.6875rem 0 0.3125rem 3.1875rem;
    color: #333;
    background: url('../../img/common/check.svg') no-repeat 0 0.8125rem;
}

.overflow-y {
    overflow-x: hidden;
    padding: 0 0.625rem;
}

.overflow-y::-webkit-scrollbar {
    width: 0.25rem;
}

.overflow-y::-webkit-scrollbar-thumb {
    border-radius: 0.125rem;
    background: var(--gray500, #8B95A1);
}

.overflow-y::-webkit-scrollbar-track {
    border-radius: 0.125rem;
    background: var(--border2, #E5E8EB);
}
