.container {
	position: relative;
	height: 100vh;
	background: #f5f0ee;
}

.no_wrapper img{margin: 0 0 88px 0;}

.header {
	display: flex;
	flex-direction: column;
	padding: 140px 180px 110px 180px;
	gap: 16px;
}

.info .header h1 {
	color: #fff;
	font-family: 'Pretendard-Semibold';
}

.swiper {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex !important;
	align-items: flex-start;
	justify-content: center;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	overflow: visible;
}
.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}

.notice-slide  .swiper-slide img{opacity:0;}

.notice-slide-thumbs .swiper-slide {
	width: calc(100% / 5) !important;
}

.notice-slide-thumbs {
	display: flex;
	justify-content: center;
	width: 1830px;
	max-width: 100%;
}

.top {
	position: relative;
	height: 2000px;
	background: linear-gradient(151deg, #6559ac 5.42%, #31427e 81.96%);
}

.selected-item {
	position: relative !important;
	z-index: 100;
	height: 2490px;
	border-radius: 60px;
}

.selected-item img {
	width: 1700px;
	height: 2360px;
	border-radius: 60px;
	object-fit: cover;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.selected-item .swiper-slide-active img{
	box-shadow: 30px 40px 60px 0 rgba(0, 0, 0, 0.2);
opacity:1;
}

.notice-slide-thumbs .swiper-slide-thumb-active img{
	border: 3px solid #000;
}

.slider {
	position: absolute !important;
	z-index: 100;
	top: 2790px;
	left: 50%;
	max-width: 1818px;
	height: 486px;
	margin-top: 100px;
	transform: translateX(-50%);
}

.slider img {
	width: 240px !important;
	height: 340px;
	border-radius: 20px;
	box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.2);
}

.slider .item:hover {
	border: 3px solid #000000;
}

.container .swiper-pagination-bullet-active {
	opacity: 1;
	background: #333d4b !important;
}

.container .swiper-pagination-bullet {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0 20px !important;
	opacity: 1;
	border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
	background: #adb5bd;
}

@media (max-width: 1080px) {
	.container {
		height: 100vh;
	}

	.header {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 70px 90px 55px;
		gap: 8px;
	}

	.title {
		font-size: 46px;
	}

	.caption {
		font-size: 36px;
	}

	.top {
		position: relative;
		height: 1000px;
		background: linear-gradient(151deg, #6559ac 5.42%, #31427e 81.96%);
	}

	.selected-item {
		/* position: absolute; */
		z-index: 100;
		top: 0px;
		/* width: 1004px; */
		height: 1245px;
		border-radius: 30px;
		/* background-size: cover; */
		/* box-shadow: 15px 20px 30px 0 rgba(0, 0, 0, 0.2); */
	}

	.selected-item img {
		width: 850px;
		height: 1180px;
		border-radius: 30px;
		background-size: cover;
		
	}
	
	.selected-item .swiper-slide-active img{box-shadow: 15px 20px 30px 0 rgba(0, 0, 0, 0.2);}

	.notice-slide-thumbs {
		width: 915px;
		height: 150px;
	}

	.notice-slide-thumbs {
		padding: 50px 0 60px;
	}

	.slider img {
	width: 120px !important;
	height: 170px;
	border-radius: 10px;
	box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2);
}
	.notice-slide-thumbs .swiper-slide-thumb-active img {
		border: 1px solid #000;
	}
	.notice-slide {
		-o-object-fit: cover;
		object-fit: cover;
	}

	.slider {
		top: 1395px;
		left: 50%;
		max-width: 894px;
		height: 243px;
		margin-top: 50px;
		margin-left: 45px;
		transform: translateX(-50%);
	}
	
	.notice-slide-thumbs .swiper-slide-thumb-active img{
	border: 1px solid #000;
}


	.slider .item {
		width: 120px !important;
		height: 175px;
		/* margin-right: 30px; */
		border-radius: 10px;
		box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2);
	}

	.slider .item:hover {
		border: 1px solid #000000;
	}

	.container .swiper-pagination-bullet {
		width: 12px;
		height: 12px;
		margin: 0 10px !important;
	}
	
	.no_wrapper img{margin: 0 0 44px 0;}
}
