.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 16px 16px 16px;
}

.guide {
    border-radius: 16px;
    background: #EEF6FF;
    backdrop-filter: blur(40px);
    padding: 24px;
    width: -webkit-fill-available;
    flex-direction: column;
    display: flex;
    margin-bottom: 30px;
}

.guide div:nth-child(1) {
    color: #191F28;
    text-align: center;
    font-family: PretendardSemiBold, Pretendard;
    font-size: 20px;
    font-style: normal;
    line-height: 140%;
    margin-bottom: 10px;
}

.guide div:nth-child(2) {
    color: #191F28;
    text-align: center;
    font-family: PretendardSemiBold, Pretendard;
    font-size: 16px;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.32px;
    margin-bottom: 4px;
}

.guide div:nth-child(3) {
    color: #191F28;
    text-align: center;
    font-family: PretendardRegular, Pretendard;
    font-size: 16px;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.32px;
}

.container label {
    width: -webkit-fill-available;
    position: relative;
}

#user_name {
    width: 100%;
    width: -webkit-fill-available;
    border-radius: 8px;
    border: 1px solid #E5E8EB;
    background: #FFF;
    padding: 12px 16px;
    color: #191F28;
    font-family: PretendardRegular, Pretendard;
    font-size: 16px;
    font-style: normal;
    line-height: 140%;
    margin-bottom: 12px;
}

#user_name::placeholder, #content::placeholder {
    color: #6B7684;
}

.guestbookContentWrapper {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #E5E8EB;
    background: #FFF;
    min-height: 120px;
}

#content {
    width: -webkit-fill-available;
    border-radius: 8px;
    background: #FFF;
    color: #191F28;
    font-family: PretendardRegular, Pretendard;
    font-size: 16px;
    font-style: normal;
    line-height: 140%;
    height: 88px;
    margin-bottom: 8px;
}

.guestbookContentWrapper span {
    position: absolute;
    color: #191F28;
    font-family: PretendardRegular, Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    bottom: 12px;
    right: 16px;
}

.guestbookContentWrapper span em {
    color: #8B95A1;
    font-family: PretendardRegular, Pretendard;
    font-size: 14px;
    font-style: normal;
    line-height: 140%;
}

.count em.active {
    color: #191F28 !important;
    font-family: PretendardSemiBold, Pretendardm !important;
}

button {
    border-radius: 8px;
    background: #191F28;
    display: flex;
    width: -webkit-fill-available;
    padding: 16px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: PretendardSemiBold, Pretendard;
    font-size: 18px;
    font-style: normal;
    line-height: 140%;
    margin-top: 24px;
}
