.container {
    background: radial-gradient(26.62% 62.75% at 3.31% 0%, rgb(255 51 102 / 20%) 0%, rgb(255 51 102 / 0%) 100%), radial-gradient(42.71% 67.41% at 4.19% 59.19%, rgb(107 255 53 / 25%) 0%, rgb(107 255 53 / 0%) 100%), radial-gradient(30.51% 25.81% at 81.87% 17.58%, rgb(139 234 255 / 30%) 0%, rgb(139 234 255 / 0%) 100%), linear-gradient(176deg, #6B7BD6 25.05%, #2C3371 96.01%);
}

.header {
    font-family: PretendardMedium, sans-serif;
    font-size: 2.375rem;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    height: 10.625rem;
    padding: 0 3.75rem;
    color: #FFF;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    font-family: PretendardMedium, sans-serif;
    font-size: 3.125rem;
    font-style: normal;
    line-height: 150%;
    margin-top: 36.41rem;
    margin-bottom: 1.25rem;
    text-align: center;
    letter-spacing: -0.07813rem;
    color: #FFF;
}

.example {
    font-family: PretendardMedium, sans-serif;
    font-size: 2rem;
    font-style: normal;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.05rem;
    color: #EFF1F3;
}

.mic {
    position: relative;
    width: 6.15625rem;
    height: 6.15625rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    background-image: url("/resources/ict/typeD/ai/img/micWhite.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6.15625rem;
}

.mic span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10rem;
    height: 10rem;
    transform: translate(-50%, -50%) scale(0.5);
    animation: pulse 3s ease-out infinite;
    opacity: 1;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 20%) 100%);
}

.mic span:nth-child(1) { animation-delay: 0s; }
.mic span:nth-child(2) { animation-delay: 1s; }
.mic span:nth-child(3) { animation-delay: 2s; }

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0.8;
    }

    70% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0.3;
    }

    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}

.caption {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.03906rem;
    color: #EFF1F3;
}